{% extends 'PDOneBundle::brand_page.html.twig' %}
{% block content %}
<div class="container body-color">
        <div class="row head">
            <div class="col-xs-12 col-sm-12 text-center" style="padding-top:10px;"><img src="https://pdone.s3.amazonaws.com/logo/brand_logo.png" alt=""></div>
        </div>
        <div class="row ">
            <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 text-center">
                <h1  style="text-align:center;">Error 500</h1>
                <h1 class="font-xl" style="text-align:center;"><strong>Oooops, Something went wrong!</strong></h2>
            </div>
        </div>
        <div class="row footer">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                        <br class="hidden-xs">
                        <a href="http://us.boehringer-ingelheim.com/" target="_blank"></a><img src="https://pdone.s3.amazonaws.com/logo/company_logo2.png" alt="Boehringer Ingelheim">
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 text-left" >
                        <p style=" font-family: Helvetica;">Copyright © 2015, Boehringer Ingelheim Pharmaceuticals, Inc. All rights reserved.<br>
                            PC-CBR-0136-PROF <br><br>
                            <a class="footer-link" href="http://bidocs.boehringer-ingelheim.com/BIWebAccess/ViewServlet.ser?docBase=renetnt&folderPath=/Prescribing+Information/PIs/Combivent+Respimat/CMVTRSPT.pdf" target="_blank">Full Prescribing Information</a> | <a class="footer-link" href="http://bidocs.boehringer-ingelheim.com/BIWebAccess/ViewServlet.ser?docBase=renetnt&folderPath=/Privacy+Statements/BIPI+Online+Privacy+Policy.htm" target="_blank">Privacy Notice</a> | <a class="footer-link" href="http://bidocs.boehringer-ingelheim.com/BIWebAccess/ViewServlet.ser?docBase=renetnt&folderPath=/Terms+and+Conditions/Website+Terms+and+Conditions" target="_blank">Terms and Conditions</a> | <a class="footer-link" href="http://www.boehringer-ingelheim.com/" target="_blank">Boehringer Ingelheim Pharmaceuticals, Inc.</a> | <a class="footer-link" href="https://www.boehringer-ingelheim.com/contact.html" target="_blank">Contact Us</a>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="spacer10"></div>
                <div class="row underfooter"></div>
            </div>
        </div>
</div>
{% endblock %}