<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}PD One Dashboard{% if page_title is defined %} : {{ page_title }}{% endif %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/font-awesome.min.css') }}">
            <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/smartadmin-production-plugins.min.css') }}">
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/smartadmin-production.min.css') }}">
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/smartadmin-skins.min.css') }}">
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/pdi_style.css') }}">
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
        {% endblock stylesheets %}

        <link rel="shortcut icon" href="{{ asset('bundles/pdone/img/favicon.ico') }}" type="image/x-icon" />
        <link rel="icon" href="{{ asset('bundles/pdone/img/favicon.ico') }}" type="image/x-icon" />

        <link rel="apple-touch-icon" href="{{ asset('bundles/pdone/img/splash/sptouch-icon-iphone.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/pdone/img/splash/touch-icon-ipad.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/pdone/img/splash/touch-icon-iphone-retina.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/pdone/img/splash/touch-icon-ipad-retina.png') }}">
        <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-startup-image" href="{{ asset('bundles/pdone/img/splash/ipad-landscape.png') }}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        <link rel="apple-touch-startup-image" href="{{ asset('bundles/pdone/img/splash/ipad-portrait.png') }}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="{{ asset('bundles/pdone/img/splash/iphone.png') }}" media="screen and (max-device-width: 320px)">
    </head>
    <body class="animated fadeInDown">
        {% if header is defined %}
        <header id="header">
            {% block header %}{% endblock header %}
        </header>
        {% endif %}
        <div id="main_home" role="main">
            <div id="content" class="container">
            {% if breadcrumb is defined %}
                <div class="row">
                    {% block breadcrumb %}{% endblock breadcrumb %}
                </div>
            {% endif %}
                <section>
                    {% block content %}{% endblock content %}
                </section>
            </div>
        </div>

        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <script type="text/javascript" src="{{ asset('bundles/pdone/js/plugin/pace/pace.min.js') }}"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        {# Falback in case jQuery CDN failed #}
        <script type="text/javascript">
            if (!window.jQuery) {
                document.write('<script src="{{ asset('bundles/pdone/js/libs/jquery-2.1.1.min.js') }}"><\/script>');
            }
            if (!window.jQuery.ui) {
                document.write('<script src="{{ asset('bundles/pdone/js/libs/jquery-ui-1.10.3.min.js') }}"><\/script>');
            }
        </script>

        {% block javascripts %}
            <!-- IMPORTANT: APP CONFIG -->
            <script type="text/javascript" src="{{ asset('bundles/pdone/js/app.config.js') }}"></script>
            <!-- JS TOUCH : include this plugin for mobile drag / drop touch events          -->
            <script type="text/javascript" src="{{ asset('bundles/pdone/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js') }}"></script>
            <!-- BOOTSTRAP JS -->
            <script type="text/javascript" src="{{ asset('bundles/pdone/js/bootstrap/bootstrap.min.js') }}"></script>
            <!-- JQUERY VALIDATE -->
            <script type="text/javascript" src="{{ asset('bundles/pdone/js/plugin/jquery-validate/jquery.validate.min.js') }}"></script>
            <!-- JQUERY MASKED INPUT -->
            <script type="text/javascript" src="{{ asset('bundles/pdone/js/plugin/masked-input/jquery.maskedinput.min.js') }}"></script>
            <!-- MAIN APP JS FILE -->
            <script type="text/javascript" src="{{ asset('bundles/pdone/js/app.min.js') }}"></script>
        {% endblock  javascripts %}


        {% block scripts %}
        {% endblock scripts %}

            <!--[if IE 8]>
                <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
            <![endif]-->
    </body>
</html>
