<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/pfizer_style.css') }}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
  {% endblock stylesheets %}
  <link rel="shortcut icon" href="{{ asset('bundles/pdone/img/favicon.ico') }}" type="image/x-icon" />
  <link rel="icon" href="{{ asset('bundles/pdone/img/favicon.ico') }}" type="image/x-icon" />
  <!-- Targeting Windows Mobile -->
<!--[if IEMobile 7]>
<style type="text/css">
</style>
<![endif]-->
<!--[if gte mso 9]>
<style>
</style>
<![endif]-->
</head>
<body>
{% block content %}
    <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
      <tbody><tr>
        <td align="center" valign="top"><table width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
          <tbody><tr>
            <td align="left"><img style="display:block;border:0px" src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/top.jpg" alt="" width="600" height="5"></td>
          </tr>
          <tr>
            <td align="left"><table width="600" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td width="389" align="left" valign="top"><table width="389" border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td height="38" align="left" bgcolor="#1578cb"><table width="389" border="0" cellspacing="0" cellpadding="0">
                      <tbody><tr>
                        <td width="65" align="left"><img style="display:block;border:0px" src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/hdr_logo-mb.jpg" alt="the Medical Bag" title="the Medical Bag" width="65" height="38" border="0"></td>
                        <td width="29" align="left"><img style="display:block;border:0px" src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/hdr_logo-arrow.jpg" alt="" width="29" height="38" border="0"></td>
                        <td width="100" align="left"><img style="display:block;border:0px" src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/hdr_logo-myreps.jpg" alt="myReps" title="myReps" width="100" height="38" border="0"></td>
                        <td width="195" height="38" align="left">&nbsp;</td>
                      </tr>
                    </tbody></table></td>
                  </tr>
                  <tr>
                    <td height="18" align="left" bgcolor="#e9e9e9"><img style="display:block;border:0px" src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/hdr_under.jpg" alt="" width="389" height="18"></td>
                  </tr>
                  <tr>
                    <td height="121" align="left" valign="top" bgcolor="#e9e9e9"><table width="389" border="0" cellspacing="0" cellpadding="0">
                      <tbody><tr>
                        <td width="25" align="left" valign="top">&nbsp;</td>
                        <td width="250" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="3" color="#464646" style="font-size:14px; line-height:18px;"><strong>
                          {% block message %}{% endblock message %}
                        </strong></font>
                        <td width="99" align="left" valign="top"><img style="display:block;border:0px" src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/webdrProfileIcon.png" alt="" width="100" height="100" border="0"></td>
                        <td width="15" align="left" valign="top" background="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/divider_column_rule_bg_e9e9e9.jpg"><img style="display:block;border:0px" src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/divider_column_rule_bg_e9e9e9.jpg" alt="" width="15" height="121" border="0"></td>
                      </tr>
                      <tr>
                        <td align="left" valign="top">&nbsp;</td>
                        <td colspan="2" align="left" valign="top"><br><font face="Arial, Helvetica, sans-serif" size="3" color="#024377" style="font-size:14px;line-height:22px">
                          <strong>
                            &mdash; {% block rep_name %}{% endblock rep_name %}, <br />
                            PDI Sales Representative<br />
                          </strong></font>
                          <br></td>
                          <td align="left" valign="top" background="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/divider_column_rule_bg_e9e9e9.jpg">&nbsp;</td>
                        </tr>
                      </tbody></table></td>
                    </tr>
                    <tr><td><table width="389" border="0" cellspacing="0" cellpadding="0">
                      <tbody><tr><td><br>
                      </td></tr></tbody></table></td></tr>
                    </tbody></table></td>
                    <td width="211" align="left" valign="top"><table width="211" border="0" cellspacing="0" cellpadding="0">
                      <tbody><tr>
                        <td align="left" valign="top"><img style="display:block;border:0px" src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/hdr_sponsor-logo_quillivant.jpg" alt="Quillivant XR" title="Quillivant XR" width="211" height="87" border="0"></td>
                      </tr>
                      <tr>
                        <td align="left" valign="top">
                          <table width="211" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td align="left">&nbsp;</td>
                              <td align="left">&nbsp;</td>
                              <td align="left"><font face="Arial, Helvetica, sans-serif" size="1" color="#353b3d" style="font-size:13px;line-height:15px">Please see <a href="http://labeling.pfizer.com/ShowLabeling.aspx?id=965" style="color:#0000ff;text-decoration:underline" target="_blank">full Prescribing Information</a>, including <strong>BOXED WARNING</strong> and <a href="http://labeling.pfizer.com/ShowLabeling.aspx?id=965" style="color:#0000ff;text-decoration:underline" target="_blank">Medication Guide</a>. </font></td>
                              <td align="left">&nbsp;</td>
                              <td align="left">&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="left">&nbsp;</td>
                              <td align="left">&nbsp;</td>
                              <td align="left">&nbsp;</td>
                              <td align="left">&nbsp;</td>
                              <td align="left">&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="left">&nbsp;</td>
                              <td align="left">&nbsp;</td>
                              <td align="left"><center><font face="Arial, Helvetica, sans-serif" size="1" color="#00b5cb" style="font-size:13px;line-height:15px"><strong>IMPORTANT SAFETY<br>INFORMATION AND<br>INDICATION</strong></font></center></td>
                              <td align="left">&nbsp;</td>
                              <td align="left">&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="left">&nbsp;</td>
                              <td align="left">&nbsp;</td>
                              <td align="left">&nbsp;</td>
                              <td align="left">&nbsp;</td>
                              <td align="left">&nbsp;</td>
                            </tr>
                            <tr>
                              <td width="11" align="left">&nbsp;</td>
                              <td colspan="3" align="left"><table width="180" cellpadding="5" style="border-color:#000000;border-bottom-style:solid;border-left-style:solid;border-right-style:solid;border-top-style:solid;border-width:thin">
                                <tbody><tr>
                                  <td align="center"><table width="170" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>    <td align="center"><font face="Arial, Helvetica, sans-serif" size="1" color="#353b3d" style="font-size:13px;line-height:15px"><strong>WARNING: ABUSE AND DEPENDENCE     </strong></font></td> </tr> <tr>   <td align="left">&nbsp;</td> </tr> <tr>  <td align="left"><font face="Arial, Helvetica, sans-serif" size="1" color="#353b3d" style="font-size:13px;line-height:15px"><strong>CNS stimulants, including Quillivant XR, other methylphenidate-containing products, and amphetamines, have a high potential for abuse and dependence. Assess the risk of abuse prior to prescribing, and monitor for signs of abuse and dependence while on therapy.   </strong></font></td> </tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table></td>
                                <td width="10" align="left">&nbsp;</td>
                              </tr>
                              <tr>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                              </tr>
                              <tr>
                                <td width="11" align="left">&nbsp;</td>
                                <td width="5" align="left">&nbsp;</td>
                                <td width="180" align="left"><table width="180" border="0" cellspacing="0" cellpadding="0">
                                  <tbody><tr><td width="10" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#353b3d" style="font-size:13px;line-height:15px">•</font></td><td colspan="2" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#353b3d" style="font-size:13px;line-height:15px">Quillivant is contraindicated:</font></td></tr><tr><td height="10" colspan="3" align="left" valign="top"></td></tr> <tr> <td align="left" valign="top">&nbsp;</td> <td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#353b3d" style="font-size:13px;line-height:15px">–</font></td> <td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#353b3d" style="font-size:13px;line-height:15px">in patients known to be hypersensitive to methylphenidate, or other components of Quillivant XR. Hypersensitivity reactions such as angioedema and anaphylactic reactions have been reported</font></td> </tr> <tr> <td height="10" colspan="3" align="left" valign="top"></td> </tr> <tr> <td align="left" valign="top">&nbsp;</td> <td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#353b3d" style="font-size:13px;line-height:15px">–</font></td> <td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#353b3d" style="font-size:13px;line-height:15px">During treatment with monoamine oxidase inhibitors (MAOIs), and also within 14 days following discontinuation of treatment with an MAOI because of the risk of hypertensive crisis.</font></td> </tr> <tr> <td height="10" colspan="3" align="left" valign="top"></td> </tr>
                                    <tr>
                                      <td align="left" valign="top">&nbsp;</td>
                                      <td align="left" valign="top">&nbsp;</td>
                                      <td height="33" align="left" valign="top">&nbsp;</td>
                                    </tr>
                                    <tr>
                                      <td colspan="3" align="center" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#00b5cb" style="font-size:13px;line-height:15px"><strong>IMPORTANT SAFETY<br>
                                        INFORMATION AND<br>
                                        INDICATION<br>
                                        CONTINUED BELOW<br>
                                        <br>
                                        <img style="display:block;border:0px" src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/isi_arrow.jpg" alt="" width="15" height="8" border="0"><br>
                                      </strong></font></td>

                                    </tr>
                                    <tr>
                                    </tr><tr>
                                    <td colspan="3" align="center" valign="top">&nbsp;</td>
                                  </tr>
                                </tbody></table></td>
                                <td width="5" align="left">&nbsp;</td>
                                <td width="10" align="left">&nbsp;</td>
                              </tr>
                            </tbody></table>
                          </td>
                        </tr>
                      </tbody></table></td>
                    </tr>
                  </tbody></table></td>
                </tr>
                <tr>
                  <td align="left"><img style="display:block;border:0px" src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/divider_gradient_fullwidth.jpg" alt="" width="600" height="28"></td>
                </tr>
                <tr>
                  <td align="left"><table align="center" width="550" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td colspan="2" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#00b5cb" style="font-size:12px;line-height:16px"><strong>IMPORTANT SAFETY INFORMATION AND INDICATION (Continued)</strong></font></td>
                    </tr>
                    <tr><td width="18" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">•</font></td><td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">Stroke and myocardial infarction have occurred in adults treated with CNS stimulants at recommended doses. Sudden death has occurred in children and adolescents with structural cardiac abnormalities and other serious cardiac problems, and in adults taking CNS stimulants at recommended doses for ADHD. Avoid use in patients with known structural cardiac abnormalities, cardiomyopathy, serious cardiac arrhythmias, coronary artery disease, or other serious cardiac problems. Further evaluate patients who develop exertional chest pain, unexplained syncope, or arrhythmias during treatment with Quillivant XR.  </font></td><td width="25" align="left" valign="top">&nbsp;</td></tr><tr><td height="5" colspan="2" align="left" valign="top"></td></tr><tr><td width="18" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">•</font></td><td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">CNS stimulants cause an increase in blood pressure (mean increase approximately 2-4 mm Hg) and heart rate (mean increase approximately 3-6 bpm). Some individuals may have larger increases. Monitor all patients for hypertension and tachycardia.  </font></td><td width="25" align="left" valign="top">&nbsp;</td></tr><tr><td height="5" colspan="2" align="left" valign="top"></td></tr><tr><td width="18" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">•</font></td><td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">Use of stimulants may cause psychotic or manic symptoms in patients with no prior history, or exacerbation of symptoms in patients with pre-existing psychiatric illness. Evaluate for bipolar disorder prior to Quillivant XR use.  </font></td><td width="25" align="left" valign="top">&nbsp;</td></tr><tr><td height="5" colspan="2" align="left" valign="top"></td></tr><tr><td width="18" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">•</font></td><td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">Cases of painful and prolonged penile erections and priapism have been reported with methylphenidate products. Immediate medical attention should be sought if signs or symptoms of prolonged penile erections or priapism are observed.  </font></td><td width="25" align="left" valign="top">&nbsp;</td></tr><tr><td height="5" colspan="2" align="left" valign="top"></td></tr><tr><td width="18" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">•</font></td><td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">Stimulants used to treat ADHD are associated with peripheral vasculopathy, including Raynaud’s phenomenon. Careful observation for digital changes is necessary during treatment with ADHD stimulants.  </font></td><td width="25" align="left" valign="top">&nbsp;</td></tr><tr><td height="5" colspan="2" align="left" valign="top"></td></tr><tr><td width="18" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">•</font></td><td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">CNS stimulants have been associated with weight loss and slowing of growth rate in pediatric patients. Growth should be monitored during treatment with stimulants, including Quillivant XR. Patients who are not growing or gaining weight as expected may need to have their treatment interrupted.  </font></td><td width="25" align="left" valign="top">&nbsp;</td></tr><tr><td height="5" colspan="2" align="left" valign="top"></td></tr><tr><td width="18" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">•</font></td><td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">Based on accumulated data from other methylphenidate products, the most common (≥5% and twice the rate of placebo) expected adverse reactions are appetite decreased, insomnia, nausea, vomiting, dyspepsia, abdominal pain, weight decreased, anxiety, dizziness, irritability, affect lability, tachycardia, and blood pressure increased. There is limited experience with Quillivant XR in controlled trials. Based on this limited experience, the adverse reaction profile of Quillivant XR appears similar to other methylphenidate extended-release products. The most common (≥2% in the Quillivant XR group and greater than placebo) adverse reactions reported in the Phase 3 controlled study conducted in 45 ADHD patients (aged 6-12 years) were affect lability (9%), excoriation (4%), initial insomnia (2%), tic (2%), decreased appetite (2%), vomiting (2%), motion sickness (2%), eye pain (2%), and rash (2%).  </font></td><td width="25" align="left" valign="top">&nbsp;</td></tr><tr><td height="5" colspan="2" align="left" valign="top"></td></tr><tr><td width="18" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">•</font></td><td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">Based on animal data, use of Quillivant XR during pregnancy may cause fetal harm. Quillivant XR should be used during pregnancy only if the potential benefit justifies the potential risk to the fetus. Nursing mothers should be advised to discontinue drug or discontinue nursing, taking into consideration the importance of the drug to the mother.  </font></td><td width="25" align="left" valign="top">&nbsp;</td></tr><tr><td height="5" colspan="2" align="left" valign="top"></td></tr><tr><td width="18" align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">•</font></td><td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px">Nursing mothers should be advised to discontinue drug or discontinue nursing, taking into consideration the importance of the drug to the mother because methylphenidate is present in human milk.  </font></td><td width="25" align="left" valign="top">&nbsp;</td></tr><tr><td height="5" colspan="2" align="left" valign="top"></td></tr>
                    <tr>
                      <td colspan="2" align="left" valign="top"><br>
                        <font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px"><div><div class="adm"><div id="q_14e074135cb06015_20" class="ajR h4"><div class="ajT"></div></div></div><div class="h5">
                          <font color="#00b5cb"><strong>INDICATION</strong></font>
                          <br><br>
                          Quillivant XR is a central nervous system (CNS) stimulant indicated for the treatment of Attention Deficit Hyperactivity Disorder (ADHD). The efficacy of Quillivant XR was established in a 2-week, placebo-controlled trial in children aged 6 to 12 years with a diagnosis of ADHD. Accumulated efficacy data from other methylphenidate products were also considered.
                          <br><br></div></div>
                          Please see <a href="http://labeling.pfizer.com/ShowLabeling.aspx?id=965" target="_blank">full Prescribing Information, </a>including <strong>BOXED WARNING</strong> and <a href="http://labeling.pfizer.com/ShowLabeling.aspx?id=965" target="_blank">Medication Guide</a>.
                        </font>
                        <br><br>
                        <font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:12px;line-height:16px"><span class="im">
                          If you no longer wish to receive professional marketing email communications from Pfizer, <a href="http://pfizerpdone.gdetail.com/unsubscribe?email_address=rich@magnifictech.com&amp;pid=-1&amp;brandid=1234496&amp;sourcecode=1-3608719:1-213848938" style="color:#0000ff" target="_blank">unsubscribe here</a>.
                          <br>
                          <table>
                            <tbody><tr style="height:10px">
                            </tr><tr><td>
                            Please do not reply as this is an unattended email box. If you wish to contact Pfizer, <a href="//www.pfizer.com/contact/contact_us_support.jsp" style="color:#0000ff" target="_blank">click here</a>, or call <a href="tel:800-438-1985" value="+18004381985" target="_blank">800-438-1985</a>.
                            <br>
                          </td></tr><tr style="height:10px"></tr>
                        </tbody></table>
                        Pfizer Attn: Quillivant XR<br>
                        P.O. Box 29309<br>
                        Mission, KS 68201-5309<br>
                        <br>
                        <br>
                        <br></span>
                        This is a promotional message from The Medical Bag on behalf of Pfizer Inc. This material is intended specifically and exclusively for US health care professionals. The products discussed herein may have different product labeling in different countries.
                      </font>
                    </td>
                  </tr>
                </tbody></table></td>

              </tr>
              <tr>
                <td align="left"><br><table width="600" align="left" border="0" cellpadding="0" cellspacing="0">
                  <tbody><tr>
                    <td width="25">&nbsp;
                    </td>
                    <td width="66" height="30" align="left" valign="top"><img src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/liquiXR_logo.png" width="66" height="30" alt="LiquiXR Logo"></td>
                    <td width="509" height="30" align="left" valign="middle">
                      <font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:10px">&nbsp;Manufactured by: Tris Pharma, Inc., Monmouth Junction, NJ 08852</font></td>
                    </tr>
                    <tr>
                      <td colspan="3">&nbsp;</td>
                    </tr>

                    <tr><td width="25">&nbsp;</td>
                      <td width="66" height="30" align="left" valign="top"><img src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/logo_pfizer.jpg" width="66" height="30" alt="Pfizer Logo"></td>
                      <td width="509" height="30" align="left" valign="middle"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000" style="font-size:10px">&nbsp;© 2015 Pfizer Inc. All rights reserved. QXR673210-06</font></td>
                    </tr></tbody></table></td></tr>
                  </tbody></table></td>


                </tr>
                <tr>
                  <td align="left">&nbsp;</td>
                </tr>
                <tr>
                  <td bgcolor="#e9e9e9" align="left"><table align="center" bgcolor="#e9e9e9" width="550" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td align="left" valign="top">
                        <br></td>
                      </tr>
                      <tr>
                        <td align="left" valign="top"><img src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/QLV-537-PD1-QXR-MYREPS.jpg" alt="" width="246" height="42"></td>
                      </tr>
                      <tr>
                        <td align="left" valign="top" height="2" style="font-size:2px">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#313131" style="font-size:12px;line-height:16px"><span class="im">We take your privacy seriously. View <a href="http://www.themedicalbag.com/privacy-policy" style="color:#005581" target="_blank">privacy policy</a>.<br>
                          If you no longer wish to receive any communications Quillivant XR@myreps, <a href="http://108.166.114.135/reptool_admin/web/reptool/set/unsubscribe?email=rich@magnifictech.com&amp;_st=ejR2NGQ0eDVrNWw1ajVqNXc0ZjN2NG4zNDQ0NDAzeDU2NDY0dTVsMjQ0YTVhMms1NjNuNDIzbDJzNG00YTU2MzU0NTNtNW0yMjQyNDIzbjJhMzA1YjNiNHQ1NTVkNGE0cDNsNHozdzIwM2o0" target="_blank">click here.</a><br>
                          If you no longer wish to receive any communications from MyReps, <a href="http://108.166.114.135/reptool_admin/web/reptool/set/unsubscribe?email=rich@magnifictech.com&amp;_st=ejR2NGQ0eDVrNWw1ajVqNXc0ZjN2NG4zNDQ0NDAzeDU2NDY0dTVsMjQ0YTVhMms1NjNuNDIzbDJzNG00YTU2MzU0NTNtNW0yMjQyNDIzbjJhMzA1YjNiNHQ1NTVkNGE0cDNsNHozdzIwM2o0" style="color:#005581" target="_blank">click here</a>.<br>
                          If you no longer wish to receive any communications from the Medical Bag, <a href="http://108.166.114.135/reptool_admin/web/reptool/set/tmbunsubscribe?email=rich@magnifictech.com&amp;_st=ejR2NGQ0eDVrNWw1ajVqNXc0ZjN2NG4zNDQ0NDAzeDU2NDY0dTVsMjQ0YTVhMms1NjNuNDIzbDJzNG00YTU2MzU0NTNtNW0yMjQyNDIzbjJhMzA1YjNiNHQ1NTVkNGE0cDNsNHozdzIwM2o0" style="color:#005581" target="_blank">click here</a>.<br>
                          <br>
                          <strong>MyReps</strong>, 300 Interpace Parkway, Parsippany, NJ 07054<br></span>
                          ©2015 the Medical Bag. All rights reserved.
                        </font></td>
                      </tr>
                      <tr>
                        <td align="left" valign="top">&nbsp;</td>
                      </tr>
                    </tbody>
                    </table>
                    </td>
                  </tr>
                </tbody>
                </table>
                {% endblock %}
  </body>
</html>