{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block body_attributes %}class="sonata-bc skin-blue fixed"{% endblock %}
{% block meta_tags %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/font-awesome.min.css') }}">
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{{ asset('bundles/pdone/img/favicon.ico') }}" type="image/x-icon" />
    <link rel="icon" href="{{ asset('bundles/pdone/img/favicon.ico') }}" type="image/x-icon" />
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .navbar-default .navbar-brand {
            color: rgba(255, 255, 255, 0.8);
        }
        .breadcrumb>.active {
            font-weight: bold;
            color: rgba(255, 255, 255, 0.8);
        }
        .skin-blue .logo {
          background-color: #367fa9;
          color: #f9f9f9;
        }
       .container-fluid >  .navbar-right {
          background-color: #3c8dbc;
        }
    </style>
{% endblock %}
{% block side_bar_before_nav %}
<ul class="sidebar-menu">
    <li >
        <a href="http://api.dev.pdone.com/api/doc/" title="Api Doc" target="_blank"><i class="fa fa-lg fa-fw fa-file-text"></i></i> <span class="menu-item-parent">Api Doc</span></a>
    </li>
</ul>
{% endblock %}
{% block side_bar_nav %}{{parent()}}{% endblock side_bar_nav %}
{% block side_bar_after_nav %}{% endblock %}
{% block sonata_left_side %}{{parent()}}{% endblock %}