{% extends 'PDOneBundle::brand_page.html.twig' %}
{% block title %}Combivent Respimat Media View{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
            background-color:#d6d6d6;background:#d6d6d6;
        }
        @media screen and (min-width: 768px){
            #pdf {
                width: 99%;
                height: 87%;
                margin-left: 10px;
            }
            #pdf object {
                display: block;
                border: solid 1px #666;
            }
        }
        @media screen and (min-width: 992px){
            #pdf {
                width: 99%;
                height: 87%;
                margin-left: 10px;
            }
            #pdf object {
                display: block;
                border: solid 1px #666;
            }
        }
        @media screen and (min-width: 1200px){
            #pdf {
                width: 99%;
                height: 87%;
                margin-left: 10px;
            }

            #pdf object {
                display: block;
                border: solid 1px #666;
            }
        }
        .body-color{
            background-color: #000;
        }
    </style>
{% endblock stylesheets %}
{% block header %}{% endblock header %}
{% block content %}
<nav class="navbar navbar-inverse">
<div class="container body-color">
        <div class="row head-black hidden-xs">
            <div class="col-sm-2 col-md-3 col-lg-4 hidden-xs">
                <div class="button-header-black">
                    <a class="btn btn-orange" href="{{ path('brand', {'email':email.getId | urlencrypt}) }}" role="button"> View related content</a>
                </div>
            </div>

            <div class="col-sm-6 col-md-5 col-lg-4 text-center">
                <div style="margin-top:20px;">
                    <h5>
                        {% if media.getUseHtml == 0 %}
                            {{ media.getTitle }}
                        {% else %}
                            {{ media.getTitleHtml }}
                        {% endif %}
                    </h5>
                    <!-- <i class="fa fa-download"></i> -->
                    <div><a class="downloadX" href="{{ media.getMediaUrl}}" target="_blank"><i class="fa fa-download fa-2x text-primary"></i></a> <span style="color:#ffffff;font-weight: bold;"> download file</span></div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-right">
                <div class="row">
                    <div class="col-sm-4 col-lg-4 text-right hidden-xs hidden-sm"></div>
                    <div class="col-sm-6 col-md-4 col-lg-4 text-center" ><div style="margin-top:20px;">
                            <h5>Questions?</h5><a class="btn btn-orange" data-toggle="modal" data-target="#askModal">Contact Me</a></div></div>
                    <div class="col-sm-6 col-md-4 col-lg-4 rep-img-black" style="padding-right:40px;">
                        <img src="{% if rep.getAvatarUrl != null %} {{ rep.getAvatarUrl }}{% else %} https://pdone.s3.amazonaws.com/avatar/default_avatar.png {% endif %}" class ="img-rounded" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row head-xs-black hidden-sm hidden-md hidden-lg visible-xs-block">
            <div class="col-xs-12 col-sm-6 col-md-12 text-center" style="margin-top:10px;">
                <a class="btn btn-orange" href="{{ path('brand', {'email':email.getId | urlencrypt}) }}" role="button"> View related content</a>
            </div>
            <div class="col-xs-12 text-center" style="">
                <div class="rep-img-black">
                        <img src="{% if rep.getAvatarUrl != null %} {{ rep.getAvatarUrl }}{% else %} https://pdone.s3.amazonaws.com/avatar/default_avatar.png {% endif %}" class ="img-rounded" alt="">
                </div>
            </div>
            <div class="col-xs-12 text-center" style="padding-bottom:10px;">
                <div style=""><h5>Questions?</h5><a class="btn btn-orange" data-toggle="collapse" href="#askCollapse" aria-expanded="false">Contact Me</a></div>
            </div>
            {% if media.getMediaType == 'PDF' %}
                <div class="col-xs-12 text-center">
                    <div>
                        <h5>
                            {% if media.getUseHtml == 0 %}
                                {{ media.getTitle }}
                            {% else %}
                                {{ media.getTitleHtml }}
                            {% endif %}
                        </h5>
                        <span style="color:#ffffff;font-weight: bold;">download file</span>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                        <a class="downloadX" href="{{ media.getMediaUrl}}" target="_blank"><i class="fa fa-download fa-2x text-primary"></i></a>
                </div>
            {% endif %}
        </div>
        <div class="row hidden-sm hidden-md hidden-lg visible-xs-inblock">
                <div class="col-sm-1 col-md-1 col-lg-1 hidden-xs"></div>
                <div class="collapse col-xs-12 col-sm-12 col-md-10 col-lg-10" id="askCollapse" aria-expanded="false" style="height: 0px;">
                    <div id="content-message" style="display:none;">
                            <div class="well">
                                <div class="row" style="padding:100px">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h2 style="text-align:center;font-size:20px;" id="h2Collapse">Your request has been sent.</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr>
                                    <div class="col-xs-12 text-right smart-form">
                                        <button type="button" class="btn btn-orange" data-toggle="collapse" href="#askCollapse" aria-expanded="false">OK</button>
                                    </div>
                                </div>
                                </div>
                        </div>
                        <div id="content" >
                    <div class="well">
                    <h4>Contact {{rep.getFullName}}</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 smart-form">
                                <h2>I would like more information about:</h2>
                                <br>
                        </div>
                        <div class="hidden"><input type="radio" name="askRadio" id="about"></div>
                        <div class="col-xs-10 smart-form">
                            <label class="select" id="aboutLabel">
                                    <select class="input-sm" id="aboutOptions">
                                        <option value="0">Select...</option>
                                        <option value="7">Efficacy</option>
                                        <option value="8">Safety</option>
                                        <option value="9">Dosing</option>
                                        <option value="10">Cost and Coverage</option>
                                        <option value="11">Patient Materials</option>
                                        <option value="12">Solutions Plus™, the COMBIVENT RESPIMAT live resource center</option>
                                    </select> <i></i>
                           </label>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p style="margin-top:5px;">(optional)</p>
                        </div>
                        <div class="col-xs-12 smart-form" style="padding-top:10px;padding-bottom:10px;">
                        <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 smart-form" style="padding-bottom:10px;"><h2>Contact Options:</h2></div>
                        <div class="col-xs-12 smart-form">
                            <div class="inline-group">
                                    <label class="radio">
                                            <input type="radio" name="askRadio" id="visit" value="5"><i></i>I would like to schedule a live representative visit
                                    </label>
                            </div>
                        </div>
                        <div class="col-xs-12 smart-form">
                            <div class="inline-group">
                                    <label class="radio">
                                            <input type="radio" name="askRadio" id="questions" value="6"><i></i>I would like to schedule a phone call to answer my questions
                                    </label>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-10 smart-form text-left">
                            <div class="smart-form" style="margin-left:25px;">
                                    <label>What is your preferred phone number?</label>
                                    <label class="input" id="visitLabel">
                                            <input type="tel" name="phone" data-mask-placeholder="_" class="valid" id="phone" disabled="disabled">
                                    </label>
                                    <em for="phone" class="invalid" style="display: none;" id="error">Please enter your phone number</em>
                            </div>
                        </div>
                    </div>
                    <div class="spacer5"></div>
                    <div class="row">
                        <div class="col-xs-12 text-right smart-form">
                            <button type="button" class="btn btn-blue" data-toggle="collapse" href="#askCollapse" aria-expanded="false">Cancel</button>
                            <button type="button" class="btn btn-orange" id="sendAskRequest" disabled="disabled">Send Request</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center" >
            {% if media.getMediaType == 'VIDEO' %}
                <video width="100%" controls id="video_tag">
                  <source src="{{ media.getMediaUrl }}" type="video/mp4">
                  <source src="{{ media.getMediaUrl }}" type="video/ogg">
                  <source src="{{ media.getMediaUrl }}" type="video/webm">
                   <h5 style="font-family: Arial;">Please click <a class="downloadX" href="{{ media.getMediaUrl}}" target="_blank" style="color:#0088ce;">here </a> to open the video in a new window</h5>
                </video>
            {% endif %}
                <h5 style="font-family: Arial;display:none;" id="video_ie">Please click <a class="downloadX" href="{{ media.getMediaUrl}}" target="_blank" style="color:#0088ce;">here </a> to open the {{media.getMediaType|lower}} in a new window</h5>
            </div>
        </div>
</div>
</nav>
<div id="pdf">
    {% if media.getMediaType == 'URL' %}
        <iframe src="{{ media.getMediaUrl}}" frameborder="0" width="100%" height="100%" class="embed-responsive-item"></iframe>
    {% elseif media.getMediaType == 'PDF'  %}
        <object data="{{ media.getMediaUrl}}#scrollbars=1&amp;navpanes=1&amp;toolbar=1&amp;statusbar=1" type="application/pdf" width="100%" height="100%" internalinstanceid="71" class="text-center"></object>
    {% endif %}
</div>
     <!-- Modal -->
    <div class="modal fade" id="askModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div id="content-messageModal" style="display:none;">
                <div class="modal-body">
                    <div class="row" style="padding:100px">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2 style="text-align:center;font-size:20px;" id="h2Modal">Your request has been sent.</h2>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right smart-form">
                        <button type="button" class="btn btn-orange view-btn" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
            <div id="contentModal">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
            <h4>Contact {{rep.getFullName}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                        <div class="col-xs-12 smart-form">
                                <h2>I would like more information about:</h2>
                                <br>
                        </div>
                        <div class="hidden"><input type="radio" name="askRadio" id="aboutModal"></div>
                        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-10 smart-form">
                            <label class="select" id="aboutLabelModal">
                                    <select class="input-sm" id="aboutOptionsModal">
                                        <option value="0">Select...</option>
                                        <option value="7">Efficacy</option>
                                        <option value="8">Safety</option>
                                        <option value="9">Dosing</option>
                                        <option value="10">Cost and Coverage</option>
                                        <option value="11">Patient Materials</option>
                                        <option value="12">Solutions Plus™, the COMBIVENT RESPIMAT live resource center</option>
                                    </select> <i></i>
                            </label>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p style="margin-top:5px;">(optional)</p>
                        </div>
                        <div class="col-xs-12 smart-form" style="padding-top:10px;padding-bottom:10px;">
                        <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 smart-form" style="padding-bottom:10px;"><h2>Contact Options:</h2></div>
                        <div class="col-xs-12 smart-form">
                            <div class="inline-group">
                                    <label class="radio">
                                            <input type="radio" name="askRadio" id="visitModal" value="5"><i></i>I would like to schedule a live representative visit
                                    </label>
                            </div>
                        </div>
                        <div class="col-xs-12 smart-form">
                            <div class="inline-group">
                                    <label class="radio">
                                            <input type="radio" name="askRadio" id="questionsModal" value="6"><i></i>I would like to schedule a phone call to answer my questions
                                    </label>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-10 smart-form text-left">
                            <div class="smart-form" style="margin-left:25px;">
                                    <label>What is your preferred phone number?</label>
                                    <label class="input" id="visitLabelModal">
                                            <input type="tel" name="phone" data-mask-placeholder="_" data-mask="(999) 999-9999" class="valid" id="phoneModal" disabled="disabled">
                                    </label>
                                    <em for="phone" class="invalid" style="display: none;" id="errorModal">Please enter your phone number</em>
                            </div>
                        </div>
                    </div>
          </div>
          <div class="modal-footer">
                <div class="col-xs-12 text-right smart-form">
                    <button type="button" class="btn btn-blue" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn" id="sendAskRequestModal" disabled="disabled">Send Request</button>
                </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{{ asset('bundles/pdone/js/pdfobject.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/pdone/js/functions.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/pdone/js/combivent.js') }}"></script>
<script type='text/javascript'>
    var rep_id ='{{ rep.getVeevaRepId | urlencrypt}}';
    var target_id ='{{ target.getVeevaAccountId | urlencrypt}}';
    var brand_id ='{{ brand | urlencrypt }}';
    var email_id ='{{ email.getId | urlencrypt }}';
    var media_url = '{{ media.getMediaUrl}}';
    var media_type = '{{ media.getMediaType }}';

    if(typeof IE_fix != "undefined"){
        checkBrowser(IE_fix, media_url);
    }

    $('#sendAskRequest').on('click', function (e) {
        $('#sendAskRequest').prop( "disabled", true );
        var messages=null, phone = null;
        $('input[type=radio]').each(function () {

            if ( $(this).is(':checked') &&  $(this).attr('id') == 'visit' ) {
                if($("#aboutOptions").val() != 0)
                    messages = $("#aboutOptions").val();
                else
                    messages = $(this).val();
            }
            else if ( $(this).is(':checked') &&  $(this).attr('id') == 'questions') {
                 if($("#aboutOptions").val() != 0)
                    messages = parseInt($(this).val()) + parseInt($("#aboutOptions").val());
                else
                    messages = $(this).val();
                phone = $("#phone").val();
            }
        });

        if(phone !== null && (phone === '' || phone.length < 14)){
            if(!$("#visitLabel").hasClass("state-error"))
                $("#visitLabel").addClass("state-error");
            if($("#visitLabel").hasClass("state-success"))
                $("#visitLabel").removeClass("state-success");
            $("#error").show();
            $('#sendAskRequest').prop( "disabled", false );
            return false;
        }
        postData(
            "{{url('question')}}",
            {
                "rep_id": rep_id,
                "target_id": target_id,
                "brand_id": brand_id,
                "email_id": email_id,
                "messages": messages,
                "phone": phone
            },
            'collapse',
            '#askCollapse',
            e
            );
    });

    $('#sendAskRequestModal').on('click', function (e) {
        $('#sendAskRequestModal').prop( "disabled", true );
        var messages=null, phone = null;
        $('input[type=radio]').each(function () {
            if ( $(this).is(':checked') &&  $(this).attr('id') == 'visitModal' ) {
                if($("#aboutOptionsModal").val() != 0)
                    messages = $("#aboutOptionsModal").val();
                else
                    messages = $(this).val();
            }
            else if ( $(this).is(':checked') &&  $(this).attr('id') == 'questionsModal') {
                 if($("#aboutOptionsModal").val() != 0)
                    messages = parseInt($(this).val()) + parseInt($("#aboutOptionsModal").val());
                else
                    messages = $(this).val();
                phone = $("#phoneModal").val();
            }
        });

        if(phone !== null && (phone === '' || phone.length < 14)){
            if(!$("#visitLabelModal").hasClass("state-error"))
                $("#visitLabelModal").addClass("state-error");
            if($("#visitLabelModal").hasClass("state-success"))
                $("#visitLabelModal").removeClass("state-success");
            $("#errorModal").show();
            $('#sendAskRequestModal').prop( "disabled", false );
            return false;
        }
        postData(
            "{{url('question')}}",
            {
                "rep_id": rep_id,
                "target_id": target_id,
                "brand_id": brand_id,
                "email_id": email_id,
                "messages": messages,
                "phone": phone
            },
            'modal',
            '#askModal',
            e
            );
    });

    $('.downloadX').on('click', function () {
        if(detectIE() == '11'){
            return true;
        }else{
            SaveToDisk($(this).prop('href'), 'pdf');
            return false;
        }
    });

    function SaveToDisk(fileURL, fileName) {
        if (!window.ActiveXObject) {
            var save = document.createElement('a');
            save.href = fileURL;
            save.target = '_blank';
            save.download = fileName || 'unknown';

            var event = document.createEvent('Event');
            event.initEvent('click', true, true);
            save.dispatchEvent(event);
            (window.URL || window.webkitURL).revokeObjectURL(save.href);
        }
        else if ( !! window.ActiveXObject && document.execCommand)     {
            var _window = window.open(fileURL, '_blank');
            _window.document.close();
            _window.document.execCommand('SaveAs', true, fileName || fileURL)
            _window.close();
        }
    }

    if (detectIE()) {
        document.body.style.backgroundColor = "#000000";
        document.getElementById("pdf").style.backgroundColor='#000000';

        if(media_type == 'URL'){
            document.body.style.backgroundColor = "#ffffff";
            document.getElementById("pdf").style.backgroundColor='#ffffff';
        }
        // document.body.style.backgroundColor = "#000000";
        // document.getElementById("pdf").style.backgroundColor='#000000';
        // document.getElementById("pdf").style.display = 'none';
        // if(media_type == 'VIDEO'){
        //     document.getElementById("video_tag").style.display = 'none';
        // }
        // document.getElementById("video_ie").style.display = 'block';
    }
</script>
{% endblock scripts %}