{% extends 'PDOneBundle::brand_page.html.twig' %}
{% block title %}Unsubscribe Confirmation Page{% endblock %}
{% block header %}{% endblock header %}
{% block content %}
<div class="container body-color">
        <div class="row head-unsub">
            <div class="col-xs-12">
                <h2 style="color:black;font-size:26px;">Unsubscribe</h2>
            </div>
        </div>
        <div id="content">
            <div class="row">
                <div class="col-xs-12 smart-form" style="padding-bottom:10px;"><h2>Opt-out options for {{target.getEmail}}</h2></div>
            </div>

            <div class="row" style="margin-left:5px;">
                <div class="col-xs-12 smart-form">
                    <div class="inline-group">
                        <label class="radio">
                        <input type="radio" name="askRadio" id="visitModal" value="BRAND_OPT_OUT" checked="checked"><i></i>Opt out of future emails from COMBIVENT RESPIMAT
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 smart-form">
                    <div class="inline-group">
                        <label class="radio">
                            <input type="radio" name="askRadio" id="questionsModal" value="COMPANY_OPT_OUT"><i></i>Opt out of all future emails from Boehringer Ingelheim
                        </label>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 smart-form">
                        <button type="button" class="btn btn-blue view-btn" id="saveUnsub">Submit</button>
                        <button type="button" class="btn btn-gray view-btn" id="cancelUnsub">Cancel</button>
                </div>
                <br>
            </div>
            <br>
        </div>
        <div id="content-unsub" style="display:none;">
            <div class="row">
                <div class="col-xs-12 smart-form" style="padding-bottom:10px;"><h2>You have been unsubscribed.</h2></div>
            </div>
        </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var target_id ='{{ target.getVeevaAccountId | urlencrypt}}';
    var target_mail ='{{ target.getEmail | urlencrypt}}';
    var email_id ='{{ email_id }}';

    $('#saveUnsub').on('click', function (e) {
        var option = null;
        $('input[type=radio]').each(function () {
            if ( $(this).is(':checked') ) {
                option = $(this).val();
            }
        });
        $.post("{{url('save-unsub')}}", { target_id: target_id, target_mail: target_mail, option: option }, 'json').done(function (data, textStatus, jqXHR) {
            if(data.success === true){
                $('#content-unsub').show('fast');
                $('#content').hide();
            }else{
                $('#content-unsub').show('fast');
                $('#content').hide();
            }
        }).fail(function () {
            $('#content-unsub').show('fast');
            $('#content').hide();
        });
    });
    $('#cancelUnsub').on('click', function (e) {
        window.location.href = "{{url('brand',{ 'email':email_id})}}";
    });
</script>
{% endblock scripts %}