{% extends 'PDOneBundle::brand_page.html.twig' %}
{% block title %}Unsupported Browser{% endblock %}
{% block header %}{% endblock header %}
{% block content %}
<div class="container body-color">
        <div class="row head-unsub" style="height: auto;">
            <div class="col-xs-12 text-center">
                <div class="logo-img-fixed hidden-md hidden-lg visible-sm"><a href="http://hcp.combivent.com" target="_blank"><img src="http://pdone.s3-website-us-east-1.amazonaws.com/media/quillivant/quillivant_logo.png" alt="" style="max-width: 236px; max-height: 59px;"></a></div>
                <br>
            </div>
        </div>
        <div id="content">
            <div class="row">
                <div class="col-xs-12 smart-form" style="padding-bottom:20px;"><h2>Your current web browser does not support this website. Please upgrade to one of the following browsers in order to access this content:</h2></div>
            </div>

            <div class="row" style="margin-left:5px;font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;font-size: 14px;">
                <ul>
                    <li style="font-size: 14px;"><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer</a> 9 or greater</li>
                    <li style="font-size: 14px;">A recent version of <a href="http://www.google.com/chrome/" target="_blank">Chrome</a>, <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>, or <a href="http://www.apple.com/safari/" target="_blank">Safari</a></li>
                </ul>
                <br>
            </div>
            <br>
        </div>
</div>
{% endblock %}
