{% extends 'PDOneBundle::brand_page.html.twig' %}
{% block title %}Flexergesic{% endblock %}
{% block header %}{% endblock header %}
{% block content %}
<div id="headd_fixed" style="display: block;" class="hidden-xs">
        <div id="header_scroll_wrap" style="overflow: hidden;">
            <div class="container headd" style="">
                <div class="row head hidden-xs">
                    <div class="col-xs-6 col-sm-4 hidden-xs">
                        <div class="logo-img hidden-sm"><a href="http://hcp.combivent.com" target="_blank"><img src="{%  if brandObj.getLogoUrl != null %}{{ brandObj.getLogoUrl }}{% else %}https://pdone.s3.amazonaws.com/logo/no_image_available.png{% endif %}" alt="" style="max-width: 168px; max-height: 64px;"></a></div>
                        <div class="logo-img-fixed hidden-md hidden-lg visible-sm"><a href="http://hcp.combivent.com" target="_blank"><img src="https://pdone.s3.amazonaws.com/logo/combivent_brand_logo.png" alt="" style="max-width: 168px; max-height: 64px;"></a></div>
                    </div>
                    <div class="col-xs-6 col-sm-4 text-center"> <div class="rep-img-fixed"> <img src="{% if rep.getAvatarUrl != null %}{{ rep.getAvatarUrl }}{% else %}https://pdone.s3.amazonaws.com/avatar/default_avatar.png{% endif %}" class ="img-circle" alt=""></div></div>
                    <div class="col-xs-2 col-sm-4 text-right">
                        <div class="button-header hidden-sm">
                            <a class="btn btn-green header-btn" href="http://bidocs.boehringer-ingelheim.com/BIWebAccess/ViewServlet.ser?docBase=renetnt&amp;folderPath=/Prescribing+Information/PIs/Combivent+Respimat/CMVTRSPT.pdf" target="_blank">Full Prescribing Information</a>
                            <a class="btn btn-green header-btn seeLink1" href="#">Important Safety Information</a>
                        </div>
                        <div class="button-header-fixed hidden-md hidden-lg visible-sm">
                            <a class="btn btn-green header-btn" href="http://bidocs.boehringer-ingelheim.com/BIWebAccess/ViewServlet.ser?docBase=renetnt&amp;folderPath=/Prescribing+Information/PIs/Combivent+Respimat/CMVTRSPT.pdf" target="_blank">Full Prescribing Information</a>
                            <a class="btn btn-green header-btn seeLink1" href="#">Important Safety Information</a>
                        </div>
                    </div>
                </div>
                <div class="row hidden-xs">
                    <div class="col-xs-6 col-sm-6 text-right">
                    <div class="button-rep-left-fixed">
                            <a class="btn btn-dark-blue" data-toggle="modal" data-target="#askModal" data-backdrop="static">Request a Visit</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="button-rep-right-fixed">
                            <a class="btn btn-dark-blue" data-toggle="modal" data-target="#askModal" data-backdrop="static">Ask a Question</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container body-color">
        <div class="row head hidden-xs">
            <div class="col-xs-6 col-sm-4 hidden-xs"><div class="logo-img"><a href="http://hcp.combivent.com" target="_blank"><img src="{%  if brandObj.getLogoUrl != null %}{{ brandObj.getLogoUrl }}{% else %}https://pdone.s3.amazonaws.com/logo/no_image_available.png{% endif %}" alt="" style="max-width: 168px; max-height: 64px;"></a></div></div>
            <div class="col-xs-6 col-sm-4 text-center"> <div class="rep-img" id="avatar_fixed"> <img src="{% if rep.getAvatarUrl != null %}{{ rep.getAvatarUrl }}{% else %}https://pdone.s3.amazonaws.com/avatar/default_avatar.png{% endif %}" class ="img-circle" alt=""></div></div>
            <div class="col-xs-2 col-sm-4 text-right">
                <div class="button-header">
                    <a class="btn btn-green header-btn" href="http://bidocs.boehringer-ingelheim.com/BIWebAccess/ViewServlet.ser?docBase=renetnt&folderPath=/Prescribing+Information/PIs/Combivent+Respimat/CMVTRSPT.pdf" target="_blank">Full Prescribing Information</a>
                    <a class="btn btn-green header-btn seeLink1" href="#">Important Safety Information</a>
                </div>
            </div>
        </div>
        <div class="row head-xs hidden-sm hidden-md hidden-lg visible-xs-inline">
            <div class="col-xs-12 col-sm-12 text-center" style="padding-bottom:10px;"><img src="{%  if company.getLogoUrl != null %}{{ company.getLogoUrl }}{% else %}https://pdone.s3.amazonaws.com/logo/no_image_available.png{% endif %}" alt="" style="max-width: 168px; max-height: 64px;"></div>
            <div class="col-xs-12 col-sm-6 col-md-12 text-center" style="">
                <a class="btn btn-green header-btn" href="#" role="button">Full Prescribing Information</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12 text-center">
                <a class="btn btn-green header-btn seeLink1" href="#" role="button">Important Safety Information</a>
            </div>
            <div class="col-xs-12 col-sm-4 text-center"> <div class="rep-img"> <img src="{% if rep.getAvatarUrl != null %}{{ rep.getAvatarUrl }}{% else %}https://pdone.s3.amazonaws.com/avatar/default_avatar.png{% endif %}" class ="img-circle" alt=""></div></div>
        </div>
        <div class="row hidden-xs">
            <div class="col-xs-6 col-sm-6 text-right">
                <div class="button-rep-left">
                    <a class="btn btn-dark-blue" data-toggle="modal" data-target="#askModal" data-backdrop="static">Request a Visit</a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="button-rep-right">
                    <a class="btn btn-dark-blue" data-toggle="modal" data-target="#askModal" data-backdrop="static">Ask a Question</a>
                </div>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-xs-6 col-md-4"></div>
            <div class="col-xs-12 col-md-4 text-center"><div class="rep-name"><strong>{{rep.getFullName}}</strong></div></div>
            <div class="col-xs-6 col-md-4"></div>
        </div>
        <div class="row hidden-sm hidden-md hidden-lg visible-xs" style="">
            <div class="col-xs-12 col-md-4 text-center"><div class="rep-name"><strong>{{rep.getFullName}}</strong></div></div>
        </div>
        <div class="row hidden-sm hidden-md hidden-lg visible-xs" style="padding-top:10px;">
            <div class="row" >
                <div class="col-xs-12 col-sm-6 text-center">
                    <a class="btn btn-dark-blue" data-toggle="collapse" href="#askCollapse" aria-expanded="false" >Request a Visit</a>
                </div>
            </div>
            <div class="row" style="padding-top:5px;">
                <div class="col-xs-12 col-sm-6 text-center">
                    <a class="btn btn-dark-blue" data-toggle="collapse" href="#askCollapse" aria-expanded="false">Ask a Question</a>
                </div>
            </div>
        </div>
        <div class="spacer5"></div>
        <div class="row hidden-sm hidden-md hidden-lg visible-xs-inblock">
                <div class="col-sm-1 col-md-1 col-lg-1 hidden-xs"></div>
                <div class="collapse col-xs-12 col-sm-12 col-md-10 col-lg-10" id="askCollapse" aria-expanded="false" style="height: 0px;">
                <div id="content-message" style="display:none;">
                        <div class="well">
                            <div class="row" style="padding:100px">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <h2 style="text-align:center;font-size:20px;" id="h2Collapse">Your request has been sent.</h2>
                                </div>
                            </div>
                        <div class="row">
                        <hr>
                            <div class="col-xs-12 text-right smart-form">
                                <button type="button" class="btn btn-green" data-toggle="collapse" href="#askCollapse" aria-expanded="false">OK</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div id="content" >
                <div class="well">
                    <h4>Contact {{rep.getFullName}}</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 smart-form">
                                <h2>I would like more information about:</h2>
                                <br>
                        </div>
                        <div class="hidden"><input type="radio" name="askRadio" id="about"></div>
                        <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10 smart-form">
                            <label class="select" id="aboutLabel">
                                    <select class="input-sm" id="aboutOptions">
                                        <option value="0">Select...</option>
                                        <option value="7">Efficacy</option>
                                        <option value="8">Safety</option>
                                        <option value="9">Dosing</option>
                                        <option value="10">Cost and Coverage</option>
                                        <option value="11">Patient Materials</option>
                                        <option value="12">Solutions Plus™, the COMBIVENT RESPIMAT live resource center</option>
                                    </select> <i></i>
                           </label>
                        </div>
                        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 text-center">
                            <p style="margin-top:5px;">(optional)</p>
                        </div>
                        <div class="col-xs-12 smart-form" style="padding-top:10px;padding-bottom:10px;">
                        <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 smart-form" style="padding-bottom:10px;"><h2>Contact Options:</h2></div>
                        <div class="col-xs-12 smart-form">
                            <div class="inline-group">
                                    <label class="radio">
                                            <input type="radio" name="askRadio" id="visit" value="5"><i></i>I would like to schedule a live representative visit
                                    </label>
                            </div>
                        </div>
                        <div class="col-xs-12 smart-form">
                            <div class="inline-group">
                                    <label class="radio">
                                            <input type="radio" name="askRadio" id="questions" value="6"><i></i>I would like to schedule a phone call to answer my questions
                                    </label>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-10 smart-form text-left">
                            <div class="smart-form" style="margin-left:25px;">
                                    <label>What is your preferred phone number?</label>
                                    <label class="input" id="visitLabel">
                                            <input type="tel" name="phone" placeholder="Phone" data-mask="(999) 999-9999" class="valid" id="phone" disabled="disabled">
                                    </label>
                                    <em for="phone" class="invalid" style="display: none;" id="error">Please enter your phone number</em>
                            </div>
                        </div>
                    </div>
                    <div class="spacer5"></div>
                    <div class="row">
                        <div class="col-xs-12 text-right smart-form">
                            <button type="button" class="btn btn-dark-blue" data-toggle="collapse" href="#askCollapse" aria-expanded="false">Cancel</button>
                            <button type="button" class="btn btn-green" id="sendAskRequest" disabled="disabled">Send Request</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="spacer5"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 ">
                <div class="row logo-img">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h1 style="color:#3ca656;">Share Stream</h1>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-5" >
                        Your sales representative has shared the following information with you.
                    </div>
                    <div class="hidden-xs hidden-sm col-md-3 col-lg-3 text-right" style="margin-left:-15px;"><strong>1</strong> new item since last visit</div>
                    <div class="col-xs-4 col-sm-3 hidden-md hidden-lg text-right"><strong>1</strong> new item since last visit</div>
                </div>
            </div>
        </div>
        <div class="spacer5"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                {% if  medias|length > 0 %}
                    {% set firstXs = 'false' %}
                    {% set first = 'false' %}
                    {% for media in medias %}
                    <div class="spacer5 hidden-sm hidden-md hidden-lg visible-xs-inblock"></div>
                    {% if firstXs == 'false' %}
                        <div class="row nestedContainer-orange hidden-sm hidden-md hidden-lg visible-xs-inblock">
                        {% set firstXs = 'true' %}
                    {% else %}
                        <div class="row nestedContainer hidden-sm hidden-md hidden-lg visible-xs-inblock">
                    {% endif %}
                        <div class="col-xs-12 text-center" style="margin-top:-20px;">
                            <div class="rep-img"> <img src="{{ media['thumbnail_url'] }}" class ="img-rounded" alt=""></div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <h3>
                                {% if media['useHtml'] == 0 %}
                                    {{media['title']}}
                                {% else %}
                                    {{media['titleHtml']}}
                                {% endif %}
                            </h3>
                        </div>
                        <div class="col-xs-12 text-center" style="padding-bottom:10px;margin-top:-20px;">
                            {% if media['useHtml'] == 0 %}
                                {{media['description']}}
                            {% else %}
                                {% autoescape %}
                                    {{media['descriptionHtml']|raw }}
                                {% endautoescape %}
                            {% endif %}
                        </div>
                        {% if  media['createdAt'] | date('Y-m-d') != media['updatedAt'] | date('Y-m-d') %}
                            <div class="col-xs-12 text-center text-date" style="padding-bottom:10px;padding-top:5px;">
                                Shared: {{media['createdAt'] | date('Y-m-d')}} |  Updated: {{media['updatedAt'] | date('Y-m-d')}}
                            </div>
                        {% else %}
                            <div class="col-xs-12 text-center text-date" style="padding-bottom:10px;padding-top:5px;">
                                Shared: {{media['createdAt'] | date('Y-m-d')}}
                            </div>
                        {% endif %}
                        <div class="col-xs-12 text-center">
                            <a class="btn btn-green view-btn"  href="{{ path('show', {'media_id': media['id']| urlencrypt, 'rep_id':rep.getVeevaRepId| urlencrypt, 'email_id':email.getId| urlencrypt}) }}" >View</a>
                        </div>
                    </div>
                    <div class="row logo-img hidden-xs" >
                        <div class="col-sm-11 col-md-12" >
                            {% if first == 'false' %}
                                <div class="media-container-orange">
                                {% set first = 'true' %}
                            {% else %}
                                <div class="media-container">
                            {% endif %}
                                <div class="col-sm-3 col-md-3 text-center"><img src="{{ media['thumbnail_url'] }}" alt="" class="media-img">
                                </div>
                                <div class="col-sm-9 col-md-9" style="margin-top:-10px;">
                                    <div class="col-sm-12 col-md-12">
                                        <h3 style="text-align:left;">
                                            {% if media['useHtml'] == 0 %}
                                                {{media['title']}}
                                            {% else %}
                                                {{media['titleHtml']}}
                                            {% endif %}
                                        </h3>
                                        <p class="text-description">
                                            {% if media['useHtml'] == 0 %}
                                                {{media['description']}}
                                            {% else %}
                                                {% autoescape %}
                                                    {{media['descriptionHtml']|raw }}
                                                {% endautoescape %}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-3">
                                                <a class="btn btn-green view-btn" href="{{ path('show', {'media_id': media['id']| urlencrypt, 'rep_id':rep.getVeevaRepId| urlencrypt, 'email_id':email.getId| urlencrypt}) }}">View</a>
                                            </div>
                                            {% if  media['createdAt'] | date('Y-m-d') != media['updatedAt'] | date('Y-m-d') %}
                                                <div class="col-sm-8 col-md-8 text-left text-date" style="padding-bottom:10px;padding-top:5px;">
                                                    Shared: {{media['createdAt'] | date('Y-m-d')}} |  Updated: {{media['updatedAt'] | date('Y-m-d')}}
                                                </div>
                                            {% else %}
                                                <div class="col-sm-8 col-md-8 text-left text-date" style="padding-bottom:10px;padding-top:5px;">
                                                    Shared: {{media['createdAt'] | date('Y-m-d')}}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="spacer5"></div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 text-center hidden-xs side-banner" ><img src="{{ asset('bundles/pdone/img/images/flexergesic_side.png') }}"  alt="" usemap="#sideMap"></div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg visible-xs-inblock text-center" ><a href="http://hcp.combivent.com/" target="_blank"><img src="{{ asset('bundles/pdone/img/images/flexergesic_side.png') }}" style="width:33%;" alt=""></a></div>
        </div>
        <map name="sideMap" >
            <area shape="rect" coords="171,421,280,448" alt="" href="http://hcp.combivent.com/">
        </map>
            <div class="col-xs-1 col-sm-1 col-md-1 hidden-xs hidden-sm"></div>
        <div class="spacer5"></div>
        <hr>
        <div class="row">
            <div class="col-md-10" ></div>
            <div class="col-md-2 text-left" id="seeLink" ></div>
            <div class="col-md-10 col-md-offset-1">
                <h3 style="font-size:14px;"><a name="ISI"></a>Indication for Use</h3>
                <p class="text-footer"> Suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?Sed ut perspiciati.</p>
                <h3 style="font-size:14px;">Important Safety Information</h3>
                <p class="text-footer">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<br/><br/>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<br/><br/>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.<br><br>
                <a class="isi_link" href="http://bidocs.boehringer-ingelheim.com/BIWebAccess/ViewServlet.ser?docBase=renetnt&folderPath=/Prescribing+Information/PIs/Combivent+Respimat/CMVTRSPT.pdf" target="_blank">Please see</a> full Prescribing Information and Patient Instructions for Use.
                </p><br>
            </div>
        </div>
        <div class="row footer">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center" >
                        <p style=" font-family: Helvetica;">Copyright © 2015 Flexergesic Pharmaceuticals, Inc. All rights reserved.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="spacer10"></div>
                <div class="row underfooter"></div>
            </div>
        </div>
    </div>
        <!-- Modal -->
    <div class="modal fade" id="askModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
      <div class="modal-dialog">
        <div class="modal-content">
        <div id="content-messageModal" style="display:none;">
            <div class="modal-body">
                <div class="row" style="padding:100px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2 style="text-align:center;font-size:20px;" id="h2Modal">Your request has been sent.</h2>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 text-right smart-form">
                    <button type="button" class="btn btn-green view-btn" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
        <div id="contentModal">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
            <h4>Contact {{rep.getFullName}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                        <div class="col-xs-12 smart-form">
                                <h2>I would like more information about:</h2>
                                <br>
                        </div>
                        <div class="hidden"><input type="radio" name="askRadio" id="aboutModal"></div>
                        <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10 smart-form">
                            <label class="select" id="aboutLabelModal">
                                    <select class="input-sm" id="aboutOptionsModal">
                                        <option value="0">Select...</option>
                                        <option value="7">Efficacy</option>
                                        <option value="8">Safety</option>
                                        <option value="9">Dosing</option>
                                        <option value="10">Cost and Coverage</option>
                                        <option value="11">Patient Materials</option>
                                        <option value="12">Solutions Plus™, the COMBIVENT RESPIMAT live resource center</option>
                                    </select> <i></i>
                            </label>
                        </div>
                        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 text-center">
                            <p style="margin-top:5px;">(optional)</p>
                        </div>
                        <div class="col-xs-12 smart-form" style="padding-top:10px;padding-bottom:10px;">
                        <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 smart-form" style="padding-bottom:10px;"><h2>Contact Options:</h2></div>
                        <div class="col-xs-12 smart-form">
                            <div class="inline-group">
                                    <label class="radio">
                                            <input type="radio" name="askRadio" id="visitModal" value="5"><i></i>I would like to schedule a live representative visit
                                    </label>
                            </div>
                        </div>
                        <div class="col-xs-12 smart-form">
                            <div class="inline-group">
                                    <label class="radio">
                                            <input type="radio" name="askRadio" id="questionsModal" value="6"><i></i>I would like to schedule a phone call to answer my questions
                                    </label>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-10 smart-form text-left">
                            <div class="smart-form" style="margin-left:25px;">
                                    <label>What is your preferred phone number?</label>
                                    <label class="input" id="visitLabelModal">
                                            <input type="tel" name="phone" data-mask-placeholder="_" data-mask="(999) 999-9999" class="valid" id="phoneModal" disabled="disabled">
                                    </label>
                                    <em for="phone" class="invalid" style="display: none;" id="errorModal">Please enter your phone number</em>
                            </div>
                        </div>
                    </div>
          </div>
          <div class="modal-footer">
                <div class="col-xs-12 text-right smart-form">
                    <button type="button" class="btn btn-dark-blue" data-dismiss="modal">Cancel</button>
                    <button  type="button" class="btn" id="sendAskRequestModal" disabled="disabled">Send Request</button>
                </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div id="isi_fixed" style="display: block;">
        <div id="isi_scroll_wrap" style="overflow: hidden;">
            <div class="container isi" style="">
                <div class="row">
                    <div class="col-md-10" ></div>
                    <div class="col-md-2 text-left"  >
                        <a  style="color: #f47920;font-size:12px;" class="fa-lg seeLink1" href="#"><i class="fa fa-chevron-down"></i> See more</a>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <h3 style="font-size:14px;">Indication for Use</h3>
                        <p class="text-footer"> Suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?Sed ut perspiciati.</p>
                        <h3 style="font-size:14px;">Important Safety Information</h3>
                        <p class="text-footer">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<br/><br/>
                </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-sm hidden-md hidden-lg visible-xs-inblock" id='modal_div'></div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{{ asset('bundles/pdone/js/functions.js') }}"></script>
<script type="text/javascript">
    var rep_id ='{{ rep.getVeevaRepId | urlencrypt}}';
    var target_id ='{{ target.getVeevaAccountId | urlencrypt}}';
    var brand_id ='{{ brand | urlencrypt }}';
    var email_id ='{{ email.getId | urlencrypt}}';
    var modal ='{{ modal }}';
    if(typeof IE_fix != "undefined"){
        checkBrowser(IE_fix, "{{ path('unsupport-browser', {'template': 'flexergesics' }) }}");
    }

    if(modal === '1'){
        if($('#modal_div').is(':visible') === false){
            $("#isi_fixed").addClass( 'modalFix' );
            $('#contentModal').show();
            $('#content-messageModal').hide();
            $('#askModal').modal('show');
        }
        else{
            $('#askCollapse').collapse('show');
        }
        modal = null;
    }

    $('#visit').on('click', function (e) {
        $("#phone").prop( "disabled", true );
        $("#phone").val('');
        resetPhone() ;
        $('#sendAskRequest').prop( "disabled", false );
    });

    $('#questions').on('click', function (e) {
        $("#phone").prop( "disabled", false );
        $('#sendAskRequest').prop( "disabled", false );
    });

    $('#sendAskRequest').on('click', function (e) {
        $('#sendAskRequest').prop( "disabled", true );
        var messages=null, phone = null;
        $('input[type=radio]').each(function () {
            if ( $(this).is(':checked') &&  $(this).attr('id') == 'visit' ) {
                if($("#aboutOptions").val() != 0)
                    messages = $("#aboutOptions").val();
                else
                    messages = $(this).val();
            }
            else if ( $(this).is(':checked') &&  $(this).attr('id') == 'questions') {
                 if($("#aboutOptions").val() != 0)
                    messages = parseInt($(this).val()) + parseInt($("#aboutOptions").val());
                else
                    messages = $(this).val();
                phone = $("#phone").val();
            }
        });
        if(phone !== null && (phone === '' || phone.length < 14)){
            if(!$("#visitLabel").hasClass("state-error"))
                $("#visitLabel").addClass("state-error");
            if($("#visitLabel").hasClass("state-success"))
                $("#visitLabel").removeClass("state-success");
            $("#error").show();
            $('#sendAskRequest').prop( "disabled", false );
            return false;
        }
        postData(
            "{{url('question')}}",
            {
                "rep_id": rep_id,
                "target_id": target_id,
                "brand_id": brand_id,
                "email_id": email_id,
                "messages": messages,
                "phone": phone
            },
            'collapse',
            '#askCollapse',
            e
            );
    });

    $('#askCollapse').on('hidden.bs.collapse', function () {
        $('#content').show();
        $('#content-message').hide();
    });

    $('#askCollapse').on('show.bs.collapse', function () {
        $('#content').show();
        $('#content-message').hide();
    });

    $('#visitModal').on('click', function (e) {
        $("#phoneModal").prop( "disabled", true );
        $("#phoneModal").val('');
        resetPhone() ;
        $('#sendAskRequestModal').prop( "disabled", false );
    });

    $('#questionsModal').on('click', function (e) {
        $("#phoneModal").prop( "disabled", false );
        $('#sendAskRequestModal').prop( "disabled", false );
    });

    $('#sendAskRequestModal').on('click', function (e) {
        $('#sendAskRequestModal').prop( "disabled", true );
        var messages=null, phone = null;
        $('input[type=radio]').each(function () {
            if ( $(this).is(':checked') &&  $(this).attr('id') == 'visitModal' ) {
                if($("#aboutOptionsModal").val() != 0)
                    messages = $("#aboutOptionsModal").val();
                else
                    messages = $(this).val();
            }
            else if ( $(this).is(':checked') &&  $(this).attr('id') == 'questionsModal') {
                 if($("#aboutOptionsModal").val() != 0)
                    messages = parseInt($(this).val()) + parseInt($("#aboutOptionsModal").val());
                else
                    messages = $(this).val();
                phone = $("#phoneModal").val();
            }
        });
        if(phone !== null && (phone === '' || phone.length < 14)){
            if(!$("#visitLabelModal").hasClass("state-error"))
                $("#visitLabelModal").addClass("state-error");
            if($("#visitLabelModal").hasClass("state-success"))
                $("#visitLabelModal").removeClass("state-success");
            $("#errorModal").show();
            $('#sendAskRequestModal').prop( "disabled", false );
            return false;
        }
        postData(
            "{{url('question')}}",
            {
                "rep_id": rep_id,
                "target_id": target_id,
                "brand_id": brand_id,
                "email_id": email_id,
                "messages": messages,
                "phone": phone
            },
            'modal',
            '#askModal',
            e
            );
    });

    $('#askModal').on('hidden.bs.modal', function (e) {
        reset();
        $("#isi_fixed").removeClass( 'modalFix' );
        $("#headd_fixed").removeClass( 'modalFix' );
        $('#contentModal').show();
        $('#content-messageModal').hide();
    });

    $('#askModal').on('show.bs.modal', function (e) {
        $("#isi_fixed").addClass( 'modalFix' );
        $("#headd_fixed").addClass( 'modalFix' );
        $('#contentModal').show();
        $('#content-messageModal').hide();
    });

    jQuery(function($){
        $("#phone").mask("(999) 999-9999",{placeholder:"_"});
        $("#phoneModal").mask("(999) 999-9999",{placeholder:"_"});
    });

    $('.seeLink1').on('click', function (e) {
        $("html, body").animate({scrollTop: $("#seeLink").position().top-80},'slow');
    });

    //set fixed or inpage isi
    function setISI() {
        var win_height = $(window).height(),
            fixed_isi = $('#isi_fixed'),
            seeLink = $('#seeLink');
        if (seeLink.position().top < win_height - fixed_isi.height() ) {
            $("#isi_fixed").hide();
        } else if (seeLink.position().top > win_height - fixed_isi.height() ){
            $("#isi_fixed").show();
        }
    }

    $(function () {
        $("#headd_fixed").hide();
        setISI();
        $(window).scroll(function() {
            if($(document).scrollTop() <= 0){
                $("#headd_fixed").hide();
                $("#avatar_fixed").show();
            }
            else{
                $("#headd_fixed").show();
                $("#avatar_fixed").hide();
            }
            var inpageTopPos = ($("#seeLink").position().top - $(document).scrollTop()),
                fixedTopPos = ($(window).height() - $("#isi_fixed").height() );
            if( inpageTopPos <= fixedTopPos ){
                $("#isi_fixed").hide();
            } else {
                $("#isi_fixed").show();
            }
        });
    });
</script>
{% endblock scripts %}