{% extends 'PDOneBundle::brand_page.html.twig' %}
{% block title %}Quillivant{% endblock %}
{% block header %}{% endblock header %}
{% block content %}
<div id="headd_fixed" style="display: block;" class="hidden-xs">
        <div id="header_scroll_wrap" style="overflow: hidden;">
            <div class="container headd" style="">
                <div class="row head hidden-xs">
                    <div class="col-xs-6 col-sm-4 hidden-xs">
                        <div class="logo-img hidden-sm"><a href="https://www.quillivantxrhcp.com" target="_blank"><img src="http://pdone.s3-website-us-east-1.amazonaws.com/media/quillivant/quillivant_logo.png" alt="" style="max-width: 236px; max-height: 59px;"></a></div>
                        <div class="logo-img-fixed hidden-md hidden-lg visible-sm"><a href="https://www.quillivantxrhcp.com" target="_blank"><img src="http://pdone.s3-website-us-east-1.amazonaws.com/media/quillivant/quillivant_logo.png" alt="" style="max-width: 236px; max-height: 59px;"></a></div>
                    </div>
                    <div class="col-xs-6 col-sm-4 text-center"> <div class="rep-img-fixed"><img src="{% if rep.getAvatarUrl != null %}{{ rep.getAvatarUrl }}{% else %}https://pdone.s3.amazonaws.com/avatar/default_avatar.png{% endif %}" class ="img-circle" alt=""></div></div>
                    <div class="col-xs-2 col-sm-4 text-right">
                        <div class="button-header hidden-sm">
                            <a class="btn btn-dark-blue header-btn" href="http://labeling.pfizer.com/ShowLabeling.aspx?id=965" target="_blank">Full Prescribing Information</a>
                            <a class="btn btn-dark-blue header-btn seeLink1" href="#">Important Safety Information</a>
                        </div>
                        <div class="button-header-fixed hidden-md hidden-lg visible-sm">
                            <a class="btn btn-dark-blue header-btn" href="http://labeling.pfizer.com/ShowLabeling.aspx?id=965" target="_blank">Full Prescribing Information</a>
                            <a class="btn btn-dark-blue header-btn seeLink1" href="#">Important Safety Information</a>
                        </div>
                    </div>
                </div>
                <div class="row hidden-xs">
                    <div class="col-xs-6 col-sm-6 text-right">
                    <div class="button-rep-left-fixed">
                            <a class="btn btn-dark-blue" data-toggle="modal" data-target="#askModal" data-backdrop="static" >Request a Visit</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="button-rep-right-fixed">
                            <a class="btn btn-dark-blue" data-toggle="modal" data-target="#askModal" data-backdrop="static">Ask a Question</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-color">
        <div class="row head hidden-xs">
            <div class="col-xs-6 col-sm-4 hidden-xs"><div class="logo-img" style=""><a href="https://www.quillivantxrhcp.com" target="_blank"><img src="http://pdone.s3-website-us-east-1.amazonaws.com/media/quillivant/quillivant_logo.png" alt="" style="max-width: 236px; max-height: 59px;"></a></div></div>
            <div class="col-xs-6 col-sm-4 text-center"> <div class="rep-img" id="avatar_fixed"> <img src="{% if rep.getAvatarUrl != null %}{{ rep.getAvatarUrl }}{% else %}https://pdone.s3.amazonaws.com/avatar/default_avatar.png{% endif %}" class ="img-circle" alt=""></div></div>
            <div class="col-xs-2 col-sm-4 text-right">
                <div class="button-header">
                    <a class="btn btn-dark-blue header-btn" href="http://labeling.pfizer.com/ShowLabeling.aspx?id=965" target="_blank">Full Prescribing Information</a>
                    <a class="btn btn-dark-blue header-btn seeLink1" href="#">Important Safety Information</a>
                </div>
            </div>
        </div>
        <div class="row head-xs hidden-sm hidden-md hidden-lg visible-xs-inline">
            <div class="col-xs-12 col-sm-12 text-center" style="padding-bottom:10px;"><a href="https://www.quillivantxrhcp.com" target="_blank"><img src="http://pdone.s3-website-us-east-1.amazonaws.com/media/quillivant/quillivant_logo.png" alt="" style="max-width: 236px; max-height: 59px;"></a></div>
            <div class="col-xs-12 col-sm-6 col-md-12 text-center" style="">
                <a class="btn btn-dark-blue header-btn" href="http://labeling.pfizer.com/ShowLabeling.aspx?id=965" role="button">Full Prescribing Information</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12 text-center">
                <a class="btn btn-dark-blue header-btn seeLink1" href="#" role="button">Important Safety Information</a>
            </div>
            <div class="col-xs-12 col-sm-4 text-center"> <div class="rep-img"> <img src="{% if rep.getAvatarUrl != null %}{{ rep.getAvatarUrl }}{% else %}https://pdone.s3.amazonaws.com/avatar/default_avatar.png{% endif %}" class ="img-circle" alt=""></div></div>
        </div>
        <div class="row hidden-xs">
            <div class="col-xs-6 col-sm-6 text-right">
                <div class="button-rep-left">
                    <a class="btn btn-dark-blue" data-toggle="modal" data-target="#askModal" data-backdrop="static" >Request a Visit</a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="button-rep-right">
                    <a class="btn btn-dark-blue" data-toggle="modal" data-target="#askModal" data-backdrop="static">Ask a Question</a>
                </div>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-xs-6 col-md-4"></div>
            <div class="col-xs-12 col-md-4 text-center"><div class="rep-name"><strong>{{rep.getFullName}}</strong></div></div>
            <div class="col-xs-6 col-md-4"></div>
        </div>
        <div class="row hidden-sm hidden-md hidden-lg visible-xs" style="">
            <div class="col-xs-12 col-md-4 text-center"><div class="rep-name"><strong>{{rep.getFullName}}</strong></div></div>
        </div>
        <div class="row hidden-sm hidden-md hidden-lg visible-xs" style="padding-top:10px;">
            <div class="row" >
                <div class="col-xs-12 col-sm-6 text-center">
                    <a class="btn btn-dark-blue" data-toggle="collapse" href="#askCollapse" aria-expanded="false" >Request a Visit</a>
                </div>
            </div>
            <div class="row" style="padding-top:5px;">
                <div class="col-xs-12 col-sm-6 text-center">
                    <a class="btn btn-dark-blue" data-toggle="collapse" href="#askCollapse" aria-expanded="false">Ask a Question</a>
                </div>
            </div>
        </div>
        <div class="spacer5"></div>
        <div class="row hidden-sm hidden-md hidden-lg visible-xs-inblock">
                <div class="col-sm-1 col-md-1 col-lg-1 hidden-xs"></div>
                <div class="collapse col-xs-12 col-sm-12 col-md-10 col-lg-10" id="askCollapse" aria-expanded="false" style="height: 0px;">
                <div id="content-message" style="display:none;">
                        <div class="well">
                            <div class="row" style="padding:100px">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <h2 style="text-align:center;font-size:20px;" id="h2Collapse">Your request has been sent.</h2>
                                </div>
                            </div>
                        <div class="row">
                        <hr>
                            <div class="col-xs-12 text-right smart-form">
                                <button type="button" class="btn btn-dark-blue" data-toggle="collapse" href="#askCollapse" aria-expanded="false">OK</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div id="content" >
                <div class="well">
                    <h4 style="color:#e24b25;">Request a sales representative visit</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 smart-form">
                                <h2>I would like more information about:</h2>
                                <br>
                        </div>
                        <div class="hidden"><input type="radio" name="askRadio" id="about"></div>
                        <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10 smart-form">
                            <label class="select" id="aboutLabel">
                                    <select class="input-sm" id="aboutOptions">
                                        <option value="0">Select...</option>
                                        <option value="44">Dosing</option>
                                        <option value="45">Efficacy</option>
                                        <option value="46">Formulation Technology</option>
                                        <option value="47">ADHD Resources</option>
                                        <option value="48">Cost and Coverage</option>
                                    </select><i></i>
                           </label>
                        </div>
                        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 text-center">
                            <p style="margin-top:5px; margin-left:-50px;">(optional)</p>
                        </div>
                        <div class="col-xs-12 smart-form" style="padding-top:10px;padding-bottom:10px;">
                        <hr>
                        </div>
                    </div>
                    <div class="spacer5"></div>
                    <div class="row">
                        <div class="col-xs-12 text-right smart-form">
                            <button type="button" class="btn btn-gray" data-toggle="collapse" href="#askCollapse" aria-expanded="false">Cancel</button>
                            <button type="button" class="btn btn-dark-blue" id="sendAskRequestQuillivant" disabled="disabled">Send Request</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="spacer5"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 ">
                <div class="row logo-img">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h1 style="color:#e34b26;margin-bottom: 0px;">Quillivant XR Shared Resources</h1>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-5" >
                        Your sales representative has shared the following information with you.
                    </div>
                    <div class="hidden-xs hidden-sm col-md-3 col-lg-3 text-right" style="margin-left:-15px;"><strong>1</strong> new item since last visit</div>
                    <div class="col-xs-4 col-sm-3 hidden-md hidden-lg text-right"><strong>1</strong> new item since last visit</div>
                </div>
            </div>
        </div>
        <div class="spacer5"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                {% if  medias|length > 0 %}
                    {% set firstXs = 'false' %}
                    {% set first = 'false' %}
                    {% for media in medias %}
                    <div class="spacer5 hidden-sm hidden-md hidden-lg visible-xs-inblock"></div>
                    {% if firstXs == 'false' %}
                        <div class="row nestedContainer-orange hidden-sm hidden-md hidden-lg visible-xs-inblock">
                        {% set firstXs = 'true' %}
                    {% else %}
                        <div class="row nestedContainer hidden-sm hidden-md hidden-lg visible-xs-inblock">
                    {% endif %}
                        <div class="col-xs-12 text-center" style="margin-top:-20px;">
                            <div class="rep-img"> <img src="{{ media['thumbnail_url'] }}" class ="img-rounded" alt=""></div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <h3>
                                {% if media['useHtml'] == 0 %}
                                    {{media['title']}}
                                {% else %}
                                    {{media['titleHtml']}}
                                {% endif %}
                            </h3>
                        </div>
                        <div class="col-xs-12 text-center" style="padding-bottom:10px;margin-top:-20px;">
                            {% if media['useHtml'] == 0 %}
                                {{media['description']}}
                            {% else %}
                                {% autoescape %}
                                    {{media['descriptionHtml']|raw }}
                                {% endautoescape %}
                            {% endif %}
                        </div>
                        {% if  media['createdAt'] | date('Y-m-d') != media['updatedAt'] | date('Y-m-d') %}
                            <div class="col-xs-12 text-center text-date" style="padding-bottom:10px;padding-top:5px;">
                                Shared: {{media['createdAt'] | date('Y-m-d')}} |  Updated: {{media['updatedAt'] | date('Y-m-d')}}
                            </div>
                        {% else %}
                            <div class="col-xs-12 text-center text-date" style="padding-bottom:10px;padding-top:5px;">
                                Shared: {{media['createdAt'] | date('Y-m-d')}}
                            </div>
                        {% endif %}
                        <div class="col-xs-12 text-center">
                            <a class="btn btn-dark-blue view-btn"  href="{{ path('show', {'media_id': media['id']| urlencrypt, 'rep_id':rep.getVeevaRepId| urlencrypt, 'email_id':email.getId| urlencrypt}) }}" >View</a>
                        </div>
                    </div>
                    <div class="row logo-img hidden-xs" >
                        <div class="col-sm-11 col-md-12" >
                            {% if first == 'false' %}
                                <div class="media-container-orange">
                                {% set first = 'true' %}
                            {% else %}
                                <div class="media-container">
                            {% endif %}
                                <div class="col-sm-3 col-md-3 text-center"><img src="{{ media['thumbnail_url'] }}" alt="" class="media-img">
                                </div>
                                <div class="col-sm-9 col-md-9" style="margin-top:-10px;">
                                    <div class="col-sm-12 col-md-12">
                                        <h3 style="text-align:left;">
                                            {% if media['useHtml'] == 0 %}
                                                {{media['title']}}
                                            {% else %}
                                                {{media['titleHtml']}}
                                            {% endif %}
                                        </h3>
                                        <p class="text-description">
                                            {% if media['useHtml'] == 0 %}
                                                {{media['description']}}
                                            {% else %}
                                            {% autoescape %}
                                                {{media['descriptionHtml']|raw }}
                                            {% endautoescape %}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-12" style="margin-bottom:10px;">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-3">
                                                <a class="btn btn-dark-blue view-btn" href="{{ path('show', {'media_id': media['id']| urlencrypt, 'rep_id':rep.getVeevaRepId| urlencrypt, 'email_id':email.getId| urlencrypt}) }}">View</a>
                                            </div>
                                            {% if  media['createdAt'] | date('Y-m-d') != media['updatedAt'] | date('Y-m-d') %}
                                                <div class="col-sm-8 col-md-8 text-left text-date" style="padding-bottom:10px;padding-top:5px;">
                                                    Shared: {{media['createdAt'] | date('Y-m-d')}} |  Updated: {{media['updatedAt'] | date('Y-m-d')}}
                                                </div>
                                            {% else %}
                                                <div class="col-sm-8 col-md-8 text-left text-date" style="padding-bottom:10px;padding-top:5px;">
                                                    Shared: {{media['createdAt'] | date('Y-m-d')}}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="spacer5"></div>
            </div>
            <div class="hidden-xs hidden-sm col-md-4 col-lg-4 text-left side-banner">
                <div style="margin-left:20px;">
                    <h3 style="color:#565656;font-size:14px;margin-top: 0px;margin-bottom: 5px; text-align:left;">Quillivant XR $20 Co-pay Card<sup>†</sup></h3>
                    <img src="/bundles/pdone/img/images/quillivant_side_2.png" alt="">

                    <h3 style="color:#262525;font-size:12px;margin-top: 5px;margin-bottom: 10px; text-align:left; font-weight:normal;width: 270px;font-family:Arial;"><span style="font-size:10px;color:#262525;"><sup>†</sup><a href="https://www.pfizerpro.com/product/quillivant-xr/adhd/support/copay-terms-and-conditions" target="_blank" class="isi_link_quillivant">Terms and Conditions apply <br></a></span>
                    With the Quillivant XR $20 Co-pay Card*, eligible patients may pay no more than $20 for each prescription.</h3>
                    <div class=""><a class="btn btn-dark-blue" href="https://www.quillivantxrpro.com/product/quillivant-xr/adhd/support/copay-savings-card" target="_blank">Order Here <i class="fa fa-play" style="font-size: 10px;"></i></a>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 hidden-md hidden-lg text-left side-banner" style="margin-left:40px;">
                <h3 style="color:#565656;font-size:14px;margin-top: 0px;margin-bottom: 5px; text-align:left;">Quillivant XR $20 Co-pay Card<sup>†</sup></h3>
                <img src="/bundles/pdone/img/images/quillivant_side_2.png" alt="">
                <h3 style="color:#262525;font-size:12px;margin-top: 10px;margin-bottom: 10px; text-align:left; font-weight:normal;width: 270px;font-family:Arial;">
                <span style="font-size:10px;color:#262525;"><sup>†</sup><a href="https://www.pfizerpro.com/product/quillivant-xr/adhd/support/copay-terms-and-conditions" target="_blank" class="isi_link_quillivant">Terms and Conditions apply <br></a></span>
                With the Quillivant XR $20 Co-pay Card*, eligible patients may pay no more than $20 for each prescription.</h3>
                <div class=""><a class="btn btn-dark-blue" href="https://www.quillivantxrpro.com/product/quillivant-xr/adhd/support/copay-savings-card" target="_blank">Order Here <i class="fa fa-play" style="font-size: 10px;"></i></a>
                </div>
            </div>
            <div class="col-xs-6 hidden-sm hidden-md hidden-lg text-left side-banner" style="margin-left:10px;">
                <h3 style="color:#565656;font-size:14px;margin-top: 0px;margin-bottom: 5px; text-align:left;">Quillivant XR $20 Co-pay Card<sup>†</sup></h3>
                <img src="/bundles/pdone/img/images/quillivant_side_2.png" alt="">
                <h3 style="color:#262525;font-size:12px;margin-top: 10px;margin-bottom: 10px; text-align:left; font-weight:normal;width: 270px;font-family:Arial;">
                <span style="font-size:10px;color:#262525;"><sup>†</sup><a href="https://www.pfizerpro.com/product/quillivant-xr/adhd/support/copay-terms-and-conditions" target="_blank" class="isi_link_quillivant">Terms and Conditions apply <br></a></span>
                With the Quillivant XR $20 Co-pay Card*, eligible patients may pay no more than $20 for each prescription.</h3>
                <div class=""><a class="btn btn-dark-blue" href="https://www.quillivantxrpro.com/product/quillivant-xr/adhd/support/copay-savings-card" target="_blank">Order Here <i class="fa fa-play" style="font-size: 10px;"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 hidden-xs hidden-sm"></div>
        <div class="spacer5"></div>
        <hr>
        <div class="row">
            <div class="col-md-10" ></div>
            <div class="col-md-2 text-left" id="seeLink" ></div>
            <div class="col-md-10 col-md-offset-1">
                <h3 style="font-size:18px;font-family: Arial Narrow;color:#005683;"><a name="ISI"></a>IMPORTANT SAFETY INFORMATION AND INDICATION</h3>
                <div class="text-footer" style="border: 1px solid black;padding: 0px 10px 0px 10px;">
                        <h3 style="color:#333;font-size:14px;margin-top: 5px;" class="text-center">WARNING: ABUSE AND DEPENDENCE</h3>
                        <p class="text-footer" style="color:#333;font-weight: bold;text-align:justify;">CNS stimulants, including Quillivant XR, other methylphenidate-containing products, and amphetamines, have a high potential for abuse and dependence. Assess the risk of abuse prior to prescribing, and monitor for signs of abuse and dependence while on therapy.</p>
                </div>
                <p class="text-footer">
                    <br>
                    <ul>
                        <li>Quillivant XR is contraindicated:</li>
                        <ul>
                            <li>In patients known to be hypersensitive to methylphenidate or other components of Quillivant XR. Hypersensitivity reactions such as angioedema and anaphylactic reactions have been reported.</li>
                            <li>During treatment with monoamine oxidase inhibitors (MAOIs), and also within 14 days following discontinuation of treatment with an MAOI because of the risk of hypertensive crisis.</li>
                        </ul>
                    </ul>
                    <ul>
                        <li>Stroke and myocardial infarction have occurred in adults treated with CNS stimulants at recommended doses. Sudden death has occurred in children and adolescents with structural cardiac abnormalities and other serious cardiac problems, and in adults taking CNS stimulants at recommended doses for ADHD. Avoid use in patients with known structural cardiac abnormalities, cardiomyopathy, serious cardiac arrhythmias, coronary artery disease, or other serious cardiac problems. Further evaluate patients who develop exertional chest pain, unexplained syncope, or arrhythmias during treatment with Quillivant XR.</li>
                        <li>CNS stimulants cause an increase in blood pressure (mean increase approximately 2-4 mm Hg) and heart rate (mean increase approximately 3-6 bpm). Some individuals may have larger increases. Monitor all patients for hypertension and tachycardia.</li>
                        <li>Use of stimulants may cause psychotic or manic symptoms in patients with no prior history, or exacerbation of symptoms in patients with pre-existing psychiatric illness. Evaluate for bipolar disorder prior to Quillivant XR use.</li>
                        <li>Cases of painful and prolonged penile erections and priapism have been reported with methylphenidate products. Immediate medical attention should be sought if signs or symptoms of prolonged penile erections or priapism are observed.</li>
                        <li>Stimulants used to treat ADHD are associated with peripheral vasculopathy, including Raynaud’s phenomenon. Careful observation for digital changes is necessary during treatment with ADHD stimulants.</li>
                        <li>CNS stimulants have been associated with weight loss and slowing of growth rate in pediatric patients. Growth should be monitored during treatment with stimulants, including Quillivant XR. Patients who are not growing or gaining weight as expected may need to have their treatment interrupted.</li>
                        <li>Based on accumulated data from other methylphenidate products, the most common (≥5% and twice the rate of placebo) adverse reactions are appetite decreased, insomnia, nausea, vomiting, dyspepsia, abdominal pain, weight decreased, anxiety, dizziness, irritability, affect lability, tachycardia, and blood pressure increased. There is limited experience with Quillivant XR in controlled trials. Based on this limited experience, the adverse reaction profile of Quillivant XR appears similar to other methylphenidate extended-release products. The most common (≥2% in the Quillivant XR group and greater than placebo) adverse reactions reported in the Phase 3 controlled study conducted in 45 ADHD patients (aged 6-12 years) were affect lability (9%), excoriation (4%), initial insomnia (2%), tic (2%), decreased appetite (2%), vomiting (2%), motion sickness (2%), eye pain (2%), and rash (2%).</li>
                        <li>Based on animal data, use of Quillivant XR during pregnancy may cause fetal harm. Quillivant XR should be used during pregnancy only if the potential benefit justifies the potential risk to the fetus.</li>
                        <li>Nursing mothers should be advised to discontinue drug or discontinue nursing, taking into consideration the importance of the drug to the mother because methylphenidate is present in human milk.</li>
                      </ul>
                </p>
                <h3 style="font-size:18px;font-family: Arial Narrow;color:#005683;"><a name="ISI"></a>INDICATION</h3>
                <p class="text-footer">
                    Quillivant XR is a central nervous system (CNS) stimulant indicated for the treatment of Attention Deficit Hyperactivity Disorder (ADHD). The efficacy of Quillivant XR was established in a 2-week, placebo-controlled trial in children aged 6 to 12 years with a diagnosis of ADHD. Accumulated efficacy data from other methylphenidate products were also considered. <br><br>
                    <sup>†</sup><a class="isi_link_quillivant" href="https://www.pfizerpro.com/product/quillivant-xr/adhd/support/copay-terms-and-conditions" target="_blank">Terms and Conditions apply</a>. This co-pay card is not health insurance. The co-pay card is only accepted at participating pharmacies.  For any questions, please call <span style="white-space: nowrap;">1-800-932-4371</span>, or write: Pfizer, ATTN: Quillivant XR, PO Box 2249, Morrisville, PA 19067-8049. <span style="font-weight: bold;">No membership fees required.</span> Eligible insured patients savings limited to $130 per 30 days for up to 12 uses within the program term. Card may be used once every 30 days. The maximum limit is $1560 per year or the amount of the co-pay you paid, whichever is less. Cash paying patients savings limited to $100 per 30 days for up to 12 uses within the program term. Card may be used once every 30 days the maximum limit is $1200 per year or the amount of the co-pay you paid, whichever is less.<br><br>

                    Please see <a class="isi_link_quillivant" href="http://labeling.pfizer.com/ShowLabeling.aspx?id=965" target="_blank">full Prescribing Information</a> including <span style="font-weight: bold;">BOXED WARNING</span> and <a class="isi_link_quillivant" href="http://labeling.pfizer.com/ShowLabeling.aspx?id=965&Section=MedGuide" target="_blank"> Medication Guide</a>.
                </p><br>
            </div>
        </div>
        <div class="row footer">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <p>The information provided in this site is intended only for health care professionals in the United States. The products discussed herein may have different product labeling in different countries.</p>
                    </div>
                    <div class="col-sm-1 col-md-1 hidden-xs "></div>
                    <div class="col-xs-12 col-sm-11 col-md-11">
                    <p><img src="http://pdone.s3-website-us-east-1.amazonaws.com/media/quillivant/liquixr_logo.png" alt="LiquiXR Logo"> &nbsp;&nbsp;Manufactured by: Tris Pharma, Inc., Monmouth Junction, NJ 08852</p>
                    </div>
                    <div class="col-sm-1 col-md-1 hidden-xs "></div>
                    <div class="col-xs-12 col-sm-11 col-md-11">
                    <p><img src="http://pdone.s3-website-us-east-1.amazonaws.com/media/quillivant/pfizer_logo.png" alt="Pfizer Logo"> &nbsp;&nbsp;© 2015 Pfizer Inc. All rights reserved. QXR765202-01</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="spacer10"></div>
            </div>
        </div>
    </div>
        <!-- Modal -->
    <div class="modal fade" id="askModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        <div id="content-messageModal" style="display:none;">
            <div class="modal-body">
                <div class="row" style="padding:100px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2 style="text-align:center;font-size:20px;" id="h2Modal">Your request has been sent.</h2>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 text-right smart-form">
                    <button type="button" class="btn btn-dark-blue view-btn" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
        <div id="contentModal">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
            <h4 style="color:#e24b25;">Request a sales representative visit</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                        <div class="col-xs-12 smart-form">
                                <h2>I would like more information about:</h2>
                                <br>
                        </div>
                        <div class="hidden"><input type="radio" name="askRadio" id="aboutModal"></div>
                        <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10 smart-form">
                            <label class="select" id="aboutLabelModal">
                                    <select class="input-sm" id="aboutOptionsModal">
                                        <option value="0">Select...</option>
                                        <option value="44">Dosing</option>
                                        <option value="45">Efficacy</option>
                                        <option value="46">Formulation Technology</option>
                                        <option value="47">ADHD Resources</option>
                                        <option value="48">Cost and Coverage</option>
                                    </select><i></i>
                            </label>
                        </div>
                        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 text-center">
                            <p style="margin-top:5px; margin-left:-50px;">(optional)</p>
                        </div>
                    </div>
          </div>
          <div class="modal-footer">
                <div class="col-xs-12 text-right smart-form">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">Cancel</button>
                    <button  type="button" class="btn btn-dark-blue" id="sendAskRequestModalQuillivant" disabled="disabled">Send Request</button>
                </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div id="isi_fixed_quillivant" style="display: block;">
        <div id="isi_scroll_wrap" style="overflow: hidden;">
            <div class="container isi_quillivant" style="">
                <div class="row">
                    <div class="col-md-10" ></div>
                    <div class="col-md-2 text-left"  >
                        <a  style="color: #f47920;font-size:12px;" class="fa-lg seeLink1" id="" href="#"><i class="fa fa-chevron-down"></i> See more</a>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <h3 style="font-size:14px;color:#00b5cb;"><a name="ISI"></a>IMPORTANT SAFETY INFORMATION AND INDICATION</h3>
                <div class="text-footer" style="border: 1px solid black;padding: 0px 10px 0px 10px;">
                        <h3 style="color:#333;font-size:14px;margin-top: 5px;" class="text-center">WARNING: ABUSE AND DEPENDENCE</h3>
                        <p class="text-footer" style="color:#333;font-weight: bold;text-align: justify;">CNS stimulants, including Quillivant XR, other methylphenidate-containing products, and amphetamines, have a high potential for abuse and dependence. Assess the risk of abuse prior to prescribing, and monitor for signs of abuse and dependence while on therapy.</p>
                </div>
                <p class="text-footer">
                    <br>
                    <ul>
                        <li>Quillivant XR is contraindicated:</li>
                        <ul>
                            <li>In patients known to be hypersensitive to methylphenidate, or other components of Quillivant XR. Hypersensitivity reactions such as angioedema and anaphylactic reactions have been reported</li>
                            <li>During treatment with monoamine oxidase inhibitors (MAOIs), and also within 14 days following discontinuation of treatment with an MAOI because of the risk of hypertensive crisis.</li>
                        </ul>
                    </ul>
                </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-sm hidden-md hidden-lg visible-xs-inblock" id='modal_div'></div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{{ asset('bundles/pdone/js/functions.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/pdone/js/quillivant.js') }}"></script>
<script type="text/javascript">
    var rep_id ='{{ rep.getVeevaRepId | urlencrypt}}';
    var target_id ='{{ target.getVeevaAccountId | urlencrypt}}';
    var brand_id ='{{ brand | urlencrypt }}';
    var email_id ='{{ email.getId | urlencrypt}}';
    var modal ='{{ modal }}';
    if(typeof IE_fix != "undefined"){
        checkBrowser(IE_fix, "{{ path('unsupport-browser', {'template': 'quillivant' }) }}");
    }
    if(modal === '1'){
        if($('#modal_div').is(':visible') === false){
            $("#isi_fixed_quillivant").addClass( 'modalFix' );
            $('#contentModal').show();
            $('#content-messageModal').hide();
            $('#askModal').modal('show');
        }
        else{
            $('#askCollapse').collapse('show');
        }
        modal = null;
    }

    $('#askModal').on('hidden.bs.modal', function (e) {
        $("#isi_fixed_quillivant").removeClass( 'modalFix' );
        $("#headd_fixed").removeClass( 'modalFix' );
        $('#contentModal').show();
        $('#content-messageModal').hide();
    });

    $('#askModal').on('show.bs.modal', function (e) {
        $("#isi_fixed_quillivant").addClass( 'modalFix' );
        $("#headd_fixed").addClass( 'modalFix' );
        $('#contentModal').show();
        $('#content-messageModal').hide();
    });

    $('.seeLink1').on('click', function (e) {
        $("html, body").animate({scrollTop: $("#seeLink").position().top-80},'slow');
    });

    $('#sendAskRequestQuillivant').on('click', function (e) {
        $('#sendAskRequestQuillivant').prop( "disabled", true );
        var messages=null, phone = null;
        if($("#aboutOptions").val() != 0){
            messages = $("#aboutOptions").val();
        }else{
            return false;
        }
        postData(
            "{{url('question-quillivant')}}",
            {
                "rep_id": rep_id,
                "target_id": target_id,
                "brand_id": brand_id,
                "email_id": email_id,
                "messages": messages
            },
            'collapse',
            '#askCollapse',
            e
            );
    });

    $('#sendAskRequestModalQuillivant').on('click', function (e) {
        $('#sendAskRequestModalQuillivant').prop( "disabled", true );
        var messages=null;

        if($("#aboutOptionsModal").val() != 0){
            messages = $("#aboutOptionsModal").val();
        }else{
            return false;
        }

        postData(
            "{{url('question-quillivant')}}",
            {
                "rep_id": rep_id,
                "target_id": target_id,
                "brand_id": brand_id,
                "email_id": email_id,
                "messages": messages
            },
            'modal',
            '#askModal',
            e
            );
    });

    //set fixed or inpage isi
    function setISI() {
        var win_height = $(window).height(),
            fixed_isi = $('#isi_fixed_quillivant'),
            seeLink = $('#seeLink');
        if (seeLink.position().top < win_height - fixed_isi.height() ) {
            $("#isi_fixed_quillivant").hide();
        } else if (seeLink.position().top > win_height - fixed_isi.height() ){
            $("#isi_fixed_quillivant").show();
        }
    }

    $(function () {
        $("#headd_fixed").hide();
        setISI();
        $(window).scroll(function() {
            if($(document).scrollTop() <= 0){
                $("#headd_fixed").hide();
                $("#avatar_fixed").show();
            }
            else{
                $("#headd_fixed").show();
                $("#avatar_fixed").hide();
            }
            var inpageTopPos = ($("#seeLink").position().top - $(document).scrollTop()),
                fixedTopPos = ($(window).height() - $("#isi_fixed_quillivant").height() );
            if( inpageTopPos <= fixedTopPos ){
                $("#isi_fixed_quillivant").hide();
            } else {
                $("#isi_fixed_quillivant").show();
            }
        });
    });
</script>
{% endblock scripts %}