{% extends 'PDOneBundle::brand_page.html.twig' %}
{% block title %}Quillivant Media View{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
            background-color:#ccc;background:#ccc;
        }
        body.hide-iframes iframe {
            visibility: hidden;
        }
        @media screen and (min-width: 768px){
            #pdf {
                width: 100%;
                height: 100%;
            }
            #pdf object {
                display: block;
            }
        }
        @media screen and (min-width: 992px){
            #pdf {
                width: 100%;
                height: 100%;
            }
            #pdf object {
                display: block;
            }
        }
        @media screen and (min-width: 1200px){
            #pdf {
                width: 100%;
                height: 100%;
            }
            #pdf object {
                display: block;
            }
        }
        .body-color{
            background-color: #000;
        }
    </style>
{% endblock stylesheets %}
{% block header %}{% endblock header %}
{% block content %}
<nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
<div class="container body-color">
        <div class="row head-black hidden-xs">
            <div class="col-sm-3 col-md-3 col-lg-4 hidden-xs">
                <div class="button-header-black">
                    <a class="btn btn-dark-blue" href="{{ path('brand', {'email':email.getId | urlencrypt}) }}" role="button"> View related content</a>
                </div>
            </div>

            <div class="col-sm-5 col-md-5 col-lg-4 text-center">
                <div style="margin-top:20px;">
                    <h5 style="font-family: Arial;font-size:14px;">
                        {% if media.getUseHtml == 0 %}
                            {{ media.getTitle }}
                        {% else %}
                            {{ media.getTitleHtml }}
                        {% endif %}
                    </h5>
                    <!-- <i class="fa fa-download"></i> -->
                    {% if media.getMediaType != 'URL' %}
                        <div>
                            <a class="downloadX" href="{{ media.getMediaUrl}}" target="new"><img src="{{ asset('bundles/pdone/img/images/download_quillivant.png') }}" alt=""> <span style="color:#ffffff;font-weight: bold;"> download file</span></a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-right">
                <div class="row">
                    <div class="col-sm-4 col-lg-4 text-right hidden-xs hidden-sm"></div>
                    <div class="col-sm-6 col-md-4 col-lg-4 text-center" ><div style="margin-top:20px;">
                            <h5 style="font-family: Arial Narrow;font-size:18px;">Questions?</h5><a class="btn btn-dark-blue" data-toggle="modal" data-target="#askModal" data-backdrop="static">Contact Me</a></div></div>
                    <div class="col-sm-6 col-md-4 col-lg-4 rep-img-black" style="padding-right:40px;">
                        <img src="{% if rep.getAvatarUrl != null %} {{ rep.getAvatarUrl }}{% else %} https://pdone.s3.amazonaws.com/avatar/default_avatar.png {% endif %}" class ="img-rounded" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row head-xs-black hidden-sm hidden-md hidden-lg visible-xs-block">
            <div class="col-xs-12 col-sm-6 col-md-12 text-center" style="margin-top:10px;">
                <a class="btn btn-dark-blue" href="{{ path('brand', {'email':email.getId | urlencrypt}) }}" role="button"> View related content</a>
            </div>
            <div class="col-xs-12 text-center" style="">
                <div class="rep-img-black">
                        <img src="{% if rep.getAvatarUrl != null %} {{ rep.getAvatarUrl }}{% else %} https://pdone.s3.amazonaws.com/avatar/default_avatar.png {% endif %}" class ="img-rounded" alt="">
                </div>
            </div>
            <div class="col-xs-12 text-center" style="padding-bottom:10px;">
                <div style=""><h5 style="font-family: Arial Narrow;font-size:18px;">Questions?</h5><a class="btn btn-dark-blue" data-toggle="collapse" href="#askCollapse" aria-expanded="false">Contact Me</a></div>
            </div>
            {% if media.getMediaType == 'PDF' %}
                <div class="col-xs-12 text-center">
                    <div>
                        <h5>
                            {% if media.getUseHtml == 0 %}
                                {{ media.getTitle }}
                            {% else %}
                                {{ media.getTitleHtml }}
                            {% endif %}
                        </h5>
                        <span style="color:#ffffff;font-weight: bold;">download file</span>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                        <a class="downloadX" href="{{ media.getMediaUrl }}" target="new"><img src="{{ asset('bundles/pdone/img/images/download_quillivant.png') }}" alt=""></a>
                </div>
            {% endif %}
        </div>
        <div class="row hidden-sm hidden-md hidden-lg visible-xs-inblock">
                <div class="col-sm-1 col-md-1 col-lg-1 hidden-xs"></div>
                <div class="collapse col-xs-12 col-sm-12 col-md-10 col-lg-10" id="askCollapse" aria-expanded="false" style="height: 0px;">
                    <div id="content-message" style="display:none;">
                            <div class="well">
                                <div class="row" style="padding:100px">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h2 style="text-align:center;font-size:20px;" id="h2Collapse">Your request has been sent.</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr>
                                    <div class="col-xs-12 text-right smart-form">
                                        <button type="button" class="btn btn-dark-blue" data-toggle="collapse" href="#askCollapse" aria-expanded="false">OK</button>
                                    </div>
                                </div>
                                </div>
                        </div>
                        <div id="content" >
                    <div class="well">
                    <h4 style="color:#e24b25;">Request a live sales representative visit</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 smart-form">
                                <h2>I would like more information about:</h2>
                                <br>
                        </div>
                        <div class="hidden"><input type="radio" name="askRadio" id="about"></div>
                        <div class="col-xs-10 smart-form">
                            <label class="select" id="aboutLabel">
                                    <select class="input-sm" id="aboutOptions">
                                        <option value="0">Select...</option>
                                        <option value="44">Dosing</option>
                                        <option value="45">Efficacy</option>
                                        <option value="46">Formulation Technology</option>
                                        <option value="47">ADHD Resources</option>
                                        <option value="48">Cost and Coverage</option>
                                    </select> <i></i>
                           </label>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p style="margin-top:5px;">(optional)</p>
                        </div>
                    </div>
                    <div class="spacer5"></div>
                    <div class="row">
                        <div class="col-xs-12 text-right smart-form">
                            <button type="button" class="btn btn-gray" data-toggle="collapse" href="#askCollapse" aria-expanded="false">Cancel</button>
                            <button type="button" class="btn btn-dark-blue" id="sendAskRequestQuillivant" disabled="disabled">Send Request</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center" >
            {% if media.getMediaType == 'VIDEO' %}
                <video width="100%" controls id="video_tag">
                  <source src="{{ media.getMediaUrl }}" type="video/mp4">
                  <source src="{{ media.getMediaUrl }}" type="video/ogg">
                  <source src="{{ media.getMediaUrl }}" type="video/webm">
                   <h5 style="font-family: Arial;">Please click <a class="downloadX" href="{{ media.getMediaUrl}}" target="new" style="color:#0088ce;">here </a> to open the video in a new window</h5>
                </video>
            {% endif %}
                <h5 style="font-family: Arial;display:none;" id="video_ie">Please click <a class="downloadX" href="{{ media.getMediaUrl}}" target="new" style="color:#0088ce;">here </a> to open the {{media.getMediaType|lower}} in a new window</h5>
            </div>
        </div>
</div>
</nav>
<div id="pdf">
    {% if media.getMediaType == 'URL' %}
        <iframe src="{{ media.getMediaUrl}}" frameborder="0" width="100%" height="100%" class="embed-responsive-item"></iframe>
    {% elseif media.getMediaType == 'PDF'  %}
        <object data="{{ media.getMediaUrl}}#scrollbars=1&amp;navpanes=1&amp;toolbar=1&amp;statusbar=1" type="application/pdf" width="100%" height="100%" internalinstanceid="71" class="text-center"></object>
    {% endif %}
</div>
     <!-- Modal -->
    <div class="modal fade" id="askModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div id="content-messageModal" style="display:none;">
                <div class="modal-body">
                    <div class="row" style="padding:100px">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2 style="text-align:center;font-size:20px;" id="h2Modal">Your request has been sent.</h2>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right smart-form">
                        <button type="button" class="btn btn-dark-blue view-btn" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
            <div id="contentModal">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
            <h4 style="color:#e24b25;">Request a live sales representative visit</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                        <div class="col-xs-12 smart-form">
                                <h2>I would like more information about:</h2>
                                <br>
                        </div>
                        <div class="hidden"><input type="radio" name="askRadio" id="aboutModal"></div>
                        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-10 smart-form">
                            <label class="select" id="aboutLabelModal">
                                    <select class="input-sm" id="aboutOptionsModal">
                                        <option value="0">Select...</option>
                                        <option value="44">Dosing</option>
                                        <option value="45">Efficacy</option>
                                        <option value="46">Formulation Technology</option>
                                        <option value="47">ADHD Resources</option>
                                        <option value="48">Cost and Coverage</option>
                                    </select> <i></i>
                            </label>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p style="margin-top:5px;">(optional)</p>
                        </div>
                    </div>
          </div>
          <div class="modal-footer">
                <div class="col-xs-12 text-right smart-form">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn" id="sendAskRequestModalQuillivant" disabled="disabled">Send Request</button>
                </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{{ asset('bundles/pdone/js/pdfobject.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/pdone/js/functions.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/pdone/js/quillivant.js') }}"></script>
<script type='text/javascript'>
    var rep_id ='{{ rep.getVeevaRepId | urlencrypt}}';
    var target_id ='{{ target.getVeevaAccountId | urlencrypt}}';
    var brand_id ='{{ brand | urlencrypt }}';
    var email_id ='{{ email.getId | urlencrypt }}';
    var media_type = '{{ media.getMediaType }}';
    var media_url = '{{ media.getMediaUrl}}';

    if(typeof IE_fix != "undefined"){
        checkBrowser(IE_fix, media_url);
    }

    $('#sendAskRequestQuillivant').on('click', function (e) {
        $('#sendAskRequestQuillivant').prop( "disabled", true );
        var messages=null, phone = null;
        if($("#aboutOptions").val() != 0){
            messages = $("#aboutOptions").val();
        }else{
            return false;
        }
        postData(
            "{{url('question-quillivant')}}",
            {
                "rep_id": rep_id,
                "target_id": target_id,
                "brand_id": brand_id,
                "email_id": email_id,
                "messages": messages
            },
            'collapse',
            '#askCollapse',
            e
            );
    });

    $('#sendAskRequestModalQuillivant').on('click', function (e) {
        $('#sendAskRequestModalQuillivant').prop( "disabled", true );
        var messages=null;

        if($("#aboutOptionsModal").val() != 0){
            messages = $("#aboutOptionsModal").val();
        }else{
            return false;
        }

        postData(
            "{{url('question-quillivant')}}",
            {
                "rep_id": rep_id,
                "target_id": target_id,
                "brand_id": brand_id,
                "email_id": email_id,
                "messages": messages
            },
            'modal',
            '#askModal',
            e
            );
    });

    $('.downloadX').on('click', function () {
        if(detectIE() == '11'){
            return true;
        }else{
            SaveToDisk($(this).prop('href'), 'pdf');
            return false;
        }
    });

    $( "#pdf" ).css( "height", function( ) {
      return $(window).height() -100;
    });

    function SaveToDisk(fileURL, fileName) {
        if (!window.ActiveXObject) {
            var save = document.createElement('a');
            save.href = fileURL;
            save.target = 'new';
            save.download = fileName || 'unknown';

            var evt = new MouseEvent('click', {
                'view': window,
                'bubbles': true,
                'cancelable': false
            });
            save.dispatchEvent(evt);

            (window.URL || window.webkitURL).revokeObjectURL(save.href);
        }

        // for IE < 11
        else if ( !! window.ActiveXObject && document.execCommand)     {
            var _window = window.open(fileURL, 'new');
            _window.document.close();
            _window.document.execCommand('SaveAs', true, fileName || fileURL)
            _window.close();
        }
    }

    if (detectIE()) {
        document.body.style.backgroundColor = "#000000";
        document.getElementById("pdf").style.backgroundColor='#000000';

        if(media_type == 'URL'){
            document.body.style.backgroundColor = "#ffffff";
            document.getElementById("pdf").style.backgroundColor='#ffffff';
        }
    }
</script>
{% endblock scripts %}