#loginbox > div:first-child {
    padding-bottom: 10px;
}

.pdi-logo {
    display: block;
    margin: auto;
}

.pdi-logo,
.im {
  position: relative;
  display: block;
}

.pdi-text {
    display: block;
    margin: -60px 0px 15px 85px;
}

#logo>img{
    width: 40px;
    height: 87px;
}
.link-profile {
  position: relative;
}
.img-profile {
  -webkit-background-size: 96px 96px;
  background-size: 96px 96px;
  border: none;
  vertical-align: top;
  height: 96px;
  width: 96px;
}
.box-profile {
  background: rgba(78,144,254,.7);
  bottom: 0;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  left: 0;
  line-height: 9px;
  position: absolute;
  padding: 7px 0;
  text-align: center;
  width: 96px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
   border-radius: 0px;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  background-clip: padding-box;
  outline: 0;
}
.modal-header {
  padding: 5px 5px 5px 5px;
  border-bottom: 0px solid #e5e5e5;
  min-height: 16.42857143px;
  text-align: center;
}
.modal-body {
  position: relative;
  text-align:center;
  padding: 5px 5px 5px 5px;
}
.modal-footer {
  margin-top: 0px;
  padding: 1px 20px 20px;
  text-align: center;
  border-top: 0px solid #e5e5e5;
}