html {
    font-size: 100%;

}
body {
    height:100% !important;
    margin:0;
    padding:0;
    width:100% !important;
    background-color:#d6d6d6;
    background:#d6d6d6;
    font-family: Helvetica;
}

.head {
    background: #f0f0f0;
    height: 90px;
    border-bottom:1px solid #35c3de;
}

.head-unsub {
    background: #f0f0f0;
    height: 60px;
    border-bottom:1px solid #35c3de;
}

.head-black {
    background: #000000;
    height: 90px;
    border-bottom:1px solid #000000;
}

.head-xs {
    background: #f0f0f0;
    height: 240px;
    border-bottom:1px solid #000000;
}

.head-xs-black {
    background: #000000;
    height: 280px;
    border-bottom:1px solid #000000;
}

#pdf {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.footer{
    font-size: 12px;
    background: #d9d9d9;
    padding-top: 20px;
}

.underfooter {
    background: #191919;
    padding: 15px 0;
}

.body-color{
    background-color: #ffffff;
}

.rep-container{
    margin: 0 auto;
    text-align: center;
}

.rep-img > img.img-circle,img.img-rounded {
    width: 130px;
    height: 130px;
    margin-top: 20px;
}

.rep-img-black > img.img-rounded {
    width: 70px;
    height: 70px;
    margin-top: 10px;
}

.rep-name{
    /*padding-top: 10px;*/
}

.logo-img {
    padding-left: 40px;
    padding-top: 10px;
}

.button-header{
    padding-right: 40px;
    padding-top: 10px;
}

.button-header-black{
    margin-top: 35px;
    /*margin-left:40px;*/
}

.button-rep-left{
    margin-top: -40px;
    padding-right: 47px;
}

.button-rep-right{
    margin-top: -40px;
    padding-left: 45px;
}

.btn-blue {
    color: #ffffff;
    background-color: #35c3de;
    border-radius: 14px;
    padding: 2px 15px;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
    color: #ffffff;
    background-color: #35c3de;
}

.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
    background-image: none;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
    background-color: #35c3de;
}

.button-header > a.btn-orange {
    /*margin-bottom: 5px;*/
}

.btn-orange {
    color: #ffffff;
    background-color: #f47920;
    border-radius: 14px;
    padding: 2px 15px;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    color: #ffffff;
    background-color: #f47920;
}

.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
    background-color: #f47920;
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #bdeaf5;
    margin: 1em 0; padding: 0; }

.spacer5{padding:5px; }
.spacer10{padding:10px; }
.spacer15{padding:15px; }

h1{color:#35c2de; font-size:28px; line-height:125%; text-align:left;}
h2{color:#404040; font-size:18px; line-height:125%; text-align:left;}
h3{color:#024377; font-family:Helvetica; font-size:20px; line-height:125%; font-weight: bold;}
h4{color:#f47920; font-size:16px; line-height:125%; text-align:left;font-weight: bold;}
h5{color:#ffffff; font-size:16px; font-weight: bold;}
.textContent, .textContentLast{color:#404040; font-family:Helvetica; font-size:14px; line-height:125%; text-align:Left; padding-bottom:20px;}
.textContent a, .textContentLast a{color:#2C9AB7; text-decoration:underline;}
.nestedContainer{background-color:#f5f5f5; border-top:3px solid #35c3de;padding-left:10px;padding-top:10px;padding-bottom:10px;}
.nestedContainer-orange{background-color:#f5f5f5; border-top:3px solid #f58737;padding-left:10px;padding-top:10px;padding-bottom:10px;}
.media-container{
    background-color: #f5f5f5;
    border-top: 3px solid #35c3de;
    /*padding-bottom: 170px;*/
    display: table;
}
.media-container-orange{
    background-color: #f5f5f5;
    border-top: 3px solid #f58737;
    /*padding-bottom: 170px;*/
    display: table;
}
.media-img{
/*    width: 130px;
    height: 130px;*/
    max-width: 130px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.view-btn{width: 100px;}
.header-btn{width: 200px;}
.text-date{color:#626262;font-size:12px;}
.text-description{color:#333333;font-size:12px;padding-bottom: 10px;}
.text-footer{color: #000;font-size:12px;line-height:110%;}
.side-banner{padding-top:10px;}
.footer-link{
    text-decoration: underline;
    color: #333333;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #bdeaf5;
  min-height: 16.43px;
}
.modal-footer {
  padding: 10px;
  text-align: right;
  border-top: 1px solid #bdeaf5;
}
#isi_fixed {
  width: 100%;
  color: #000;
  height: 293px;
  position: fixed;
  bottom: 0;
  left: 0px;
  z-index: 20;
}
#isi_fixed .isi {
  height: 293px;
  background-color: #fff;
  position: relative;
}
.isi {
  color: #000;
  position: relative;
  font-size: 14px;
  margin: auto;
  background-color:#ffffff;
  border-top:1px solid #bdeaf5;
}
.isi_link{
  text-decoration: underline;
  color: #002e63;
}
.modalFix{
    margin-left: -7px;
}
/*#header_fixed {
  width: 100%;
  color: #000;
  height: 293px;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 20;
}*/
.navbar-inverse {
  background-color: #000000;
  border-color: #000000;
}
#sendAskRequestModal {
      width: 135px;
      height: 27px;
      background-image: url('../img/cancel.png');
      background-repeat: no-repeat;
      color: white;
      background-color: transparent;
}
#sendAskRequest {
      width: 135px;
      height: 27px;
      background-image: url('../img/cancel.png');
      background-repeat: no-repeat;
      color: white;
      background-color: transparent;
}
#headd_fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 20;
}
#headd_fixed .headd {
  height: 100px;
  position: relative;
  background-color: #fff;
}
.headd{
  color: #000;
  position: relative;
  margin: auto;
  height: 100px;
}
.rep-container-fixed{
    margin: 0 auto;
    text-align: center;
}
/*.rep-img-fixed > img.img-circle,img.img-rounded {*/
.rep-img-fixed > img.img-circle {
    width: 60px;
    height: 60px;
    margin-top: 12px;
}
.button-rep-left-fixed {
  margin-top: -61px;
  padding-right: 25px;
}
.button-rep-right-fixed {
  margin-top: -61px;
  padding-left: 23px;
}
.logo-img-fixed {
  padding-left: 20px;
  padding-top: 10px;
}
.button-header-fixed {
  /*padding-right: 40px;*/
  padding-top: 10px;
}

/*FLEXERGESIC styles*/
.btn-green {
    color: #ffffff;
    background-color: #3ca656;
    border-radius: 14px;
    padding: 2px 15px;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    color: #ffffff;
    background-color: #3ca656;
}

.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    background-image: none;
}

.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
    background-color: #3ca656;
}

/*QUILLIVANT styles*/
.btn-dark-blue {
    color: #ffffff;
    background-color: #0088ce;
    border-radius: 14px;
    padding: 2px 15px;
}

.btn-dark-blue:hover,
.btn-dark-blue:focus,
.btn-dark-blue:active,
.btn-dark-blue.active,
.open .dropdown-toggle.btn-dark-blue {
    color: #ffffff;
    background-color: #0088ce;
}

.btn-dark-blue:active,
.btn-dark-blue.active,
.open .dropdown-toggle.btn-dark-blue {
    background-image: none;
}

.btn-dark-blue.disabled,
.btn-dark-blue[disabled],
fieldset[disabled] .btn-dark-blue,
.btn-dark-blue.disabled:hover,
.btn-dark-blue[disabled]:hover,
fieldset[disabled] .btn-dark-blue:hover,
.btn-dark-blue.disabled:focus,
.btn-dark-blue[disabled]:focus,
fieldset[disabled] .btn-dark-blue:focus,
.btn-dark-blue.disabled:active,
.btn-dark-blue[disabled]:active,
fieldset[disabled] .btn-dark-blue:active,
.btn-dark-blue.disabled.active,
.btn-dark-blue[disabled].active,
fieldset[disabled] .btn-dark-blue.active {
    background-color: #0088ce;
}

.btn-gray {
    color: #ffffff;
    background-color: #c4c4c4;
    border-radius: 14px;
    padding: 2px 15px;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
    color: #ffffff;
    background-color: #c4c4c4;
}

.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
    background-image: none;
}

.btn-gray.disabled,
.btn-gray[disabled],
fieldset[disabled] .btn-gray,
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
fieldset[disabled] .btn-gray:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray.active {
    background-color: #c4c4c4;
}
#isi_fixed_quillivant {
  width: 100%;
  /*color: #000;*/
  height: 260px;
  position: fixed;
  bottom: 0;
  left: 0px;
  z-index: 20;
}
#isi_fixed_quillivant .isi_quillivant {
  height: 260px;
  background-color: #fff;
  position: relative;
}
.isi_quillivant {
  /*color: #000;*/
  position: relative;
  font-size: 14px;
  margin: auto;
  background-color:#ffffff;
  border-top:1px solid #bdeaf5;
}
.isi_link_quillivant{
  text-decoration: underline;
  color: #024377;
}
#sendAskRequestModalQuillivant {
    width: 135px;
    height: 27px;
    background-image: url('../img/sendQuillivant.png');
    background-repeat: no-repeat;
    color: white;
    background-color: transparent;
}
#sendAskRequestQuillivant {
    width: 135px;
    height: 27px;
    background-image: url('../img/sendQuillivant.png');
    background-repeat: no-repeat;
    color: white;
    background-color: transparent;
}
ul{
  margin-left: -25px;
  margin-top: -5px;
  font-size: 12px;
  line-height:125%;
}
li{
  font-size: 12px;
}
ul>li>ul>li{
  margin-top: -15px;
}

ul>li{
  margin-bottom: 5px;
}

.view-btn-right-arrow::after { display: inline-block; content: "▶"; width: 30px; }