{% extends "PDOneBundle::layout_login.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div id="loginbox" class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="pdi-logo">
                <img src="{{ asset('bundles/pdone/img/pdi_logo.png') }}" alt="PDI">
            </div>
            <span class="hidden-mobile hidden-xs" ><h2 class="txt-color-blue login-header-big pdi-text">PD One Dashboard</h2></span>
        </div>
        <div class="well no-padding">
            <form action="{{ path("fos_user_security_check") }}" id="login-form" class="smart-form client-form" method="post">
                <header>
                    <h3 class="txt-color-blue login-header-big">Sign In</h3>
                </header>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% if error %}
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> {{ error|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endif %}
                <fieldset>
                    <section>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Username </b></label>
                    </section>

                    <section>
                        <label class="input"> <i class="icon-append fa fa-lock"></i>
                            <input name="_password" type="password" placeholder="Password" required="required">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Password</b> </label>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-arrow-circle-right"></i> Login
                    </button>
                </footer>
            </form>
        </div>
    </div>
{% endblock content %}