{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <style>
        img.admin-preview {
    max-height: 200px;
    max-width: 200px;
}
    </style>

{% endblock %}