{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/pdi_style.css') }}">
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/pdone/js/bootbox.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.changeImage').on('click', function (e) {
            var url = $(this).data('url'), objectId = $(this).attr('objectId');
            bootbox.dialog({
                message: " ",
                title: "Are you sure?",
                buttons: {
                    yes: {
                        label: "Yes",
                        className: "btn-success",
                        callback: function() {
                             $.post(url, { }, 'json').done(function (data, textStatus, jqXHR) {
                                $('#img'+objectId).attr('src','https://pdone.s3.amazonaws.com/avatar/default_avatar.png');
                                // $('#img'+objectId).attr('src','https://pdone.s3.amazonaws.com/avatar/no_avatar.png');
                            }).fail(function () {
                                console.info('Error');
                            });
                        }
                    },
                    no: {
                        label: "No",
                        className: "btn-primary",
                        callback: function() {
                            console.info('Error');
                        }
                    }
                }
            });
            e.preventDefault();
        });
    });
</script>
{% endblock %}
{% block table_body %}
<tbody>
    {% for object in admin.datagrid.results %}
    <tr>
        {% for field_description in admin.list.elements %}
            {% if field_description.name == '_action' and app.request.isXmlHttpRequest %}
                {# Action buttons disabled in ajax view! #}
            {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                {# Disable fields with 'ajax_hidden' option set to true #}
            {% else %}
                {% if admin.label == 'Representative' and field_description.name == 'avatar_url' %}
                    <td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
                        <a class="link-profile changeImage" href="#" objectId="{{ admin.id(object) }}" data-url="{{ admin.generateObjectUrl("changeAvatar",object) }}">
                            <div class="img-profile" title="Profile Icon"><img src="{{object.getAvatarUrl}}" id="img{{ admin.id(object) }}" height="96px" width="96px"/></div>
                            <span class="box-profile">Remove</span>
                        </a>
                    </td>
                {% else %}
                    {{ object|render_list_element(field_description) }}
                {% endif %}
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>
{% endblock %}
{% block table_footer %}
<tfoot>
    <tr>
        <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
            <div class="form-inline">
                {% if not app.request.isXmlHttpRequest %}
                {% if admin.hasRoute('batch') and batchactions|length > 0  %}
                {% block batch %}
                <script>
                    {% block batch_javascript %}
                    jQuery(document).ready(function ($) {
                        $('#list_batch_checkbox').on('ifChanged', function () {
                            $(this)
                            .closest('table')
                            .find('td.sonata-ba-list-field-batch input[type="checkbox"]')
                            .iCheck($(this).is(':checked') ? 'check' : 'uncheck')
                            ;
                        });

                        $('td.sonata-ba-list-field-batch input[type="checkbox"]')
                        .on('ifChanged', function () {
                            $(this)
                            .closest('tr')
                            .toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'))
                            ;
                        })
                        .trigger('ifChanged')
                        ;
                    });
                    {% endblock %}
                </script>

                {% block batch_actions %}
                <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                    <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements">
                    {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                    ({{ admin.datagrid.pager.nbresults }})
                </label>

                <select name="action" style="width: auto; height: auto" class="form-control">
                    {% for action, options in batchactions %}
                    <option value="{{ action }}">{{ options.label }}</option>
                    {% endfor %}
                </select>
                {% endblock %}

                <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                {% endblock %}
                {% endif %}

                    {% if admin.label == 'Company' %}
                        <div class="btn-group" style="margin-left:12%;">
                            <a class="btn btn-default" href="{{ admin_pool.dashboardgroups['company']['items'][1].generateUrl('create')}}"><i class="fa fa-plus-square fa-fw" ></i>Add Brand</a>
                        </div>
                    {% endif %}
                    {% if admin.label == 'Brand' %}
                        <div class="btn-group" style="margin-left:5%;">
                            <a class="btn btn-default" href="{{ admin_pool.dashboardgroups['company']['items'][3].generateUrl('create')}}"><i class="fa fa-plus-square fa-fw" ></i> Add Message</a>
                            <div class="btn-group">&nbsp;&nbsp;</div>
                            <a class="btn btn-default" href="{{ admin_pool.dashboardgroups['company']['items'][2].generateUrl('create')}}"><i class="fa fa-plus-square fa-fw" ></i> Add Media</a>
                        </div>
                    {% endif %}

                <div class="pull-right">
                    {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-export"></i>
                            {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for format in admin.getExportFormats() %}
                            <li>
                                <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                    <i class="glyphicon glyphicon-download"></i>
                                    {{ format|upper }}
                                </a>
                                <li>
                                    {% endfor %}
                                </ul>
                            </div>

                            &nbsp;-&nbsp;
                            {% endif %}

                            {% block pager_results %}
                            {% include admin.getTemplate('pager_results') %}
                            {% endblock %}
                        </div>
                        {% endif %}
                    </div>
                </th>
            </tr>

            {% block pager_links %}
            {% if admin.datagrid.pager.haveToPaginate() %}
            {% include admin.getTemplate('pager_links') %}
            {% endif %}
            {% endblock %}

        </tfoot>
        {% endblock %}
