{% extends sonata_block.templates.block_base %}

{% block block %}

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="select2-input" id="brands" style="width: 100%;" placeholder="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="select2-input" id="territories" style="width: 100%;" placeholder="">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <input type="text" class="select2-input" id="medias" style="width: 100%;" placeholder="">
        </div>
    </div>
    <div class="col-md-1">
            <a type="button" class="btn btn-default btn-sm" href="#" id="filter"> <i class="fa fa-search fa-fw"></i> Filter</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section>
            <div class="jarviswidget" id="wid-id-1">
                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                    <h2>Reps Chart</h2>
                    <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox"> </div>
                    <div class="widget-body no-padding">
                        <div class="padding-10">
                            <div id="metric-1" class="chart-large has-legend-unique"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section>
            <div class="jarviswidget" id="wid-id-2">
                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                    <h2>Emails Chart</h2>
                    <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox"> </div>
                    <div class="widget-body no-padding">
                        <div class="padding-10">
                            <div id="metric-2" class="chart-large has-legend-unique"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section>
            <div class="jarviswidget" id="wid-id-3">
                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                    <h2>Media Chart</h2>
                    <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
                </header>
                <div role="content">
                    <div class="jarviswidget-editbox"> </div>
                    <div class="widget-body no-padding">
                        <div class="padding-10">
                            <div id="metric-3" class="chart-large has-legend-unique"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

<section>
<div class="jarviswidget" id="wid-id-1">
<header role="heading">
    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
    <h2> Weekly Chart</h2>
    <div class="widget-toolbar" role="menu">
        <a href="{{url('get-report-export')}}" class="btn btn-default" > <i class="fa fa-download fa-fw" ></i> CSV </a>
    </div>
    <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
</header>
<div role="content">
    <div class="jarviswidget-editbox">
    </div>
    <div class="widget-body no-padding">

        <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr role="row">
                    <th aria-controls="datatable_fixed_column"></th>
                    <th aria-controls="datatable_fixed_column">Reps in Field</th>
                    <th aria-controls="datatable_fixed_column">Reps Who Shared</th>
                    <th aria-controls="datatable_fixed_column">Emails Sent</th>
                    <th aria-controls="datatable_fixed_column">HCPs Shared With</th>
                    <th aria-controls="datatable_fixed_column">Content Shares</th>
                    <th aria-controls="datatable_fixed_column">Email Opens</th>
                    <th aria-controls="datatable_fixed_column">Email Open Rate</th>
                    <th aria-controls="datatable_fixed_column">Email Click-Thru's</th>
                    <th aria-controls="datatable_fixed_column">CTR</th>
                    <th aria-controls="datatable_fixed_column">Unique HCP Views</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="text-right">
    <a class="btn btn-default" href="{{url('get-raw-data')}}"> <i class="fa fa-download fa-fw" ></i> Export All Raw Data </a>
</div>
</section>
{% endblock %}