{% extends 'PDOneBundle::layout_pfizer.html.twig' %}
{% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/font-awesome.min.css') }}">
            <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/smartadmin-production-plugins.min.css') }}">
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/smartadmin-production.min.css') }}">
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/smartadmin-skins.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/pdone/css/styles.css') }}">
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
        {% endblock stylesheets %}
{% block content %}
<div class="container body-color">
        <div class="row ">
            <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 text-center">
                <h1  style="text-align:center;">Error 404</h1>
                <h1 class="font-xl" style="text-align:center;"><strong>Page <u>Not</u> Found</strong></h2>
            </div>
        </div>
</div>
        <table align="center" bgcolor="#e9e9e9" width="550" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td align="left" valign="top">
                <br></td>
            </tr>
            <tr>
                <td align="left" valign="top"><img src="http://pdone.s3-website-us-east-1.amazonaws.com/pfizer/QLV-537-PD1-QXR-MYREPS.jpg" alt="" width="246" height="42"></td>
            </tr>
            <tr>
                <td align="left" valign="top" height="2" style="font-size:2px">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" valign="top"><font face="Arial, Helvetica, sans-serif" size="1" color="#313131" style="font-size:12px;line-height:16px"><span class="im">We take your privacy seriously. View <a href="http://www.themedicalbag.com/privacy-policy" style="color:#005581" target="_blank">privacy policy</a>.<br>
                  If you no longer wish to receive any communications Quillivant XR@myreps, <a href="http://108.166.114.135/reptool_admin/web/reptool/set/unsubscribe?email=rich@magnifictech.com&amp;_st=ejR2NGQ0eDVrNWw1ajVqNXc0ZjN2NG4zNDQ0NDAzeDU2NDY0dTVsMjQ0YTVhMms1NjNuNDIzbDJzNG00YTU2MzU0NTNtNW0yMjQyNDIzbjJhMzA1YjNiNHQ1NTVkNGE0cDNsNHozdzIwM2o0" target="_blank">click here.</a><br>
                  If you no longer wish to receive any communications from MyReps, <a href="http://108.166.114.135/reptool_admin/web/reptool/set/unsubscribe?email=rich@magnifictech.com&amp;_st=ejR2NGQ0eDVrNWw1ajVqNXc0ZjN2NG4zNDQ0NDAzeDU2NDY0dTVsMjQ0YTVhMms1NjNuNDIzbDJzNG00YTU2MzU0NTNtNW0yMjQyNDIzbjJhMzA1YjNiNHQ1NTVkNGE0cDNsNHozdzIwM2o0" style="color:#005581" target="_blank">click here</a>.<br>
                  If you no longer wish to receive any communications from the Medical Bag, <a href="http://108.166.114.135/reptool_admin/web/reptool/set/tmbunsubscribe?email=rich@magnifictech.com&amp;_st=ejR2NGQ0eDVrNWw1ajVqNXc0ZjN2NG4zNDQ0NDAzeDU2NDY0dTVsMjQ0YTVhMms1NjNuNDIzbDJzNG00YTU2MzU0NTNtNW0yMjQyNDIzbjJhMzA1YjNiNHQ1NTVkNGE0cDNsNHozdzIwM2o0" style="color:#005581" target="_blank">click here</a>.<br>
                  <br>
                  <strong>MyReps</strong>, 300 Interpace Parkway, Parsippany, NJ 07054<br></span>
                  ©2015 the Medical Bag. All rights reserved.
              </font></td>
          </tr>
          <tr>
            <td align="left" valign="top">&nbsp;</td>
        </tr>
    </tbody>
</table>
{% endblock %}