{% extends 'PDOneBundle::layout_pfizer.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block message %}{{msg|raw}}{% endblock message %}
{% block rep_name %}{{rep_name|raw}}{% endblock rep_name %}