{% extends base_template %}
{% block sonata_head_title %}PD One Dashboard{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/smartadmin-production-plugins.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/smartadmin-production.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/smartadmin-skins.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/morris.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pdone/css/pdi_style.css') }}">
{% endblock %}
{% block sonata_sidebar_search %}{% endblock %}
{% block content %}

    {{ sonata_block_render_event('sonata.admin.dashboard.top', { 'admin_pool': admin_pool }) }}
        {% if blocks.center|length > 0 %}
                {% for block in blocks.center %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% endfor %}
        {% endif %}
    {{ sonata_block_render_event('sonata.admin.dashboard.bottom', { 'admin_pool': admin_pool }) }}

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/pdone/js/raphael-min.js') }}"></script>
<script src="{{ asset('bundles/pdone/js/morris.min.js') }}"></script>
<script src="{{ asset('bundles/pdone/js/plugin/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/pdone/js/plugin/datatables/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/pdone/js/plugin/datatable-responsive/datatables.responsive.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var responsiveHelper_datatable_tabletools = undefined;
        var breakpointDefinition = {
            tablet : 1024,
            phone : 480
        };
        loadCharts (data={});
        initDataTable(data={});
        var metric1 = null, metric2 = null, metric3 = null;
        $('#filter').on('click', function (e) {
            var data = {
                brand: $('#brands').val(),
                territory: $('#territories').val(),
                media: $('#medias').val()
            };
            loadCharts (data);
            refreshTable('#datatable_tabletools', "{{url('get-report')}}", data);
        });

        function initDataTable(data){
            $('#datatable_tabletools').dataTable({
                "ajax": {
                    'type': 'GET',
                    'url': "{{url('get-report')}}",
                    'data': data
                },
                "aoColumns": [
                null,
                {"bSortable": false},
                {"bSortable": false},
                {"bSortable": false},
                {"bSortable": false},
                {"bSortable": false},
                {"bSortable": false},
                {"bSortable": false},
                {"bSortable": false},
                {"bSortable": false},
                {"bSortable": false},
                ],
                "createdRow": function ( row, data, index ) {
                    $('td', row).eq(1).css({ 'text-align': 'right'});
                    $('td', row).eq(2).css({ 'text-align': 'right'});
                    $('td', row).eq(3).css({ 'text-align': 'right'});
                    $('td', row).eq(4).css({ 'text-align': 'right'});
                    $('td', row).eq(5).css({ 'text-align': 'right'});
                    $('td', row).eq(6).css({ 'text-align': 'right'});
                    $('td', row).eq(7).css({ 'text-align': 'right'});
                    $('td', row).eq(8).css({ 'text-align': 'right'});
                    $('td', row).eq(9).css({ 'text-align': 'right'});
                    $('td', row).eq(10).css({ 'text-align': 'right'});
                },

                "autoWidth" : true,
                "preDrawCallback" : function() {
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback" : function(nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback" : function(oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });
        }

        function refreshTable(tableId, urlData, data){
            $.getJSON(urlData, data, function( json ){
                table = $(tableId).dataTable();
                oSettings = table.fnSettings();

                table.fnClearTable(this);

                for (var i=0; i<json.data.length; i++){
                    table.oApi._fnAddData(oSettings, json.data[i]);
                }

                oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
                table.fnDraw();
            });
        }

        function loadCharts (data) {
            (function(){
                $.ajax({
                    type: "GET",
                    url: '{{url("get-metric-one")}}',
                    data: data
                })
                .done(function( data ) {
                    if(!metric1){
                        metric1 = Morris.Bar({
                            element: 'metric-1',
                            data: data,
                            xkey: 'date',
                            ykeys: ['reps','repsShared'],
                            labels: ['Total Reps','Reps Who Shared'],
                            hideHover: false,
                            resize: true
                        });
                    }else{
                        metric1.setData(data);
                    }
                })
                .fail(function() {
                    alert( "error occured" );
                });
            })();
            (function(){
                $.ajax({
                    type: "GET",
                    url: '{{url("get-metric-two")}}',
                    data: data
                })
                .done(function( data ) {
                     if(!metric2){
                        metric2 = Morris.Line({
                            element: 'metric-2',
                            data: data,
                            xkey: 'x',
                            ykeys: ['sent','view','page'],
                            labels: ['Emails Sent','Emails View', 'Page View'],
                            hideHover: false,
                            resize: true
                        });
                    }else{
                        metric2.setData(data);
                    }
                })
                .fail(function() {
                    alert( "error occured" );
                });
            })();
            (function(){
                $.ajax({
                    type: "GET",
                    url: '{{url("get-metric-three")}}',
                    data: data
                })
                .done(function( data ) {
                   if(!metric3){
                        metric3 = Morris.Line({
                            element: 'metric-3',
                            data: data,
                            xkey: 'x',
                            ykeys: ['shares','views'],
                            labels: ['Media Shares','Media Views'],
                            hideHover: false,
                            resize: true
                        });
                    }else{
                        metric3.setData(data);
                    }
                })
                .fail(function() {
                    alert( "error occured" );
                });
            })();
        }

        $('#brands').select2({
            placeholder: 'Select a Brand',
            allowClear: true,
            ajax: {
                quietMillis: 10,
                cache: false,
                dataType: 'json',
                type: 'GET',
                url: '{{url("get-brands")}}',
                data: function (term, page) {
                    return {
                        q: term
                    };
                },
                results: function (data, page) {
                    return { results: data };
                }
            },
            escapeMarkup: function (m) { return m; }
        });

        $('#territories').select2({
            placeholder: 'Select a Territory',
            id: function (terr) {
                return terr.id;
            },
            minimumInputLength: 3,
            allowClear: true,
            ajax: {
                quietMillis: 250,
                cache: true,
                dataType: 'json',
                type: 'GET',
                url: '{{url("get-territories")}}',
                data: function (term, page) {
                    return {
                        filter: term,
                        page: page
                    };
                },
                results: function (data, page) {
                    var more = (page * 10) < data.length;
                    return {results: data, more: more};
                }
            },
            escapeMarkup: function (m) { return m; }
        });

        $('#medias').select2({
            placeholder: 'Select a Media',
            allowClear: true,
            ajax: {
                quietMillis: 10,
                cache: false,
                dataType: 'json',
                type: 'GET',
                url: '{{url("get-medias")}}',
                data: function (term, page) {
                    return {
                        q: term
                    };
                },
                results: function (data, page) {
                    return { results: data };
                }
            },
            escapeMarkup: function (m) { return m; }
        });
    });
</script>
{% endblock %}
