{% block user_block %}
<li role="presentation">
    <a crole="menuitem" tabindex="-1" href="{{ path('fos_user_security_logout') }}">
        <i class="fa fa-power-off fa-fw"></i>Logout
    </a>
</li>
{% endblock %}